<toolbar>
  <button class="btn btn-primary" (click)="save()" [disabled]="saving">
    <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
    <i class="fas fa-save" [hidden]="saving"></i> {{ 'label.ALL.Save' | translate}}</button>
</toolbar>
<h4>{{ 'label.DBRT07.programName' | translate}}</h4>
<div class="row">
  <div class="col">
    <app-card header="{{ 'label.DBRT07.detail' | translate}}">
      <div class="card-content">
        <div class="col">
          <div class="col">
            <form [formGroup]="dbrt07Form">
              <div class="form-row">
                <div class="form-group col-md-3 col-sm-6">
                  <radio [items]="master.preTypes" formControlName="preNameType"></radio>
                </div>
                <div class="form-group col-md-3 col-sm-6">
                  <textbox formControlName="preNameCodeMua" class="text-center">
                    {{ 'label.DBRT07.preNameCodeMua' | translate}}
                  </textbox>
                </div>
                <div class="form-group col-md-3 col-sm-6">
                  <select-input [items]="master.genderCode" formControlName="preNameGenderCode"
                    placeholder="{{ 'label.ALL.All' | translate}}">{{ 'label.DBRT07.gender' | translate}}
                  </select-input>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="preNameTha">
                    {{ 'label.DBRT07.preNameTha' | translate}}
                  </textbox>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="preNameEng">
                    {{ 'label.DBRT07.preNameEng' | translate}}
                  </textbox>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="preNameShortTha">
                    {{ 'label.DBRT07.preNameShortTha' | translate}}
                  </textbox>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="preNameShortEng">
                    {{ 'label.DBRT07.preNameShortEng' | translate}}
                  </textbox>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-5 col-sm-6">
                  <checkbox formControlName="active">
                    {{ 'label.DBRT07.active' | translate}}
                  </checkbox>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>