<app-modal (onClose)="onClose()" header="{{ 'Label.ALL.Lookup' | translate }}">
  <div class="row">
    <div class="col-12">
      <app-card>
        <div class="card-content">
          <app-search icon="fas fa-filter" [value]="keyword" (search)="enter($event)" placeholder="value,name"></app-search>
          <app-table [rows]="items" [rowIdentity]="identity" [select]="selectedList" [page]="page" (onTableEvent)="search()">
            <ngx-datatable-column [cellClass]="'text-center'" [width]="50" [sortable]="false" [canAutoResize]="false"
              [draggable]="false" [resizeable]="false">
              <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                let-selectFn="selectFn">
                <checkbox [value]="allRowsSelected" [disabled]="items.length === 0"
                  (afterChange)="onSelectAll($event);selectFn(!allRowsSelected)">
                </checkbox>
              </ng-template>
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value"
                let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                <checkbox [value]="isSelected" (afterChange)="onSelectMultiple(row,$event);onCheckboxChangeFn($event)">
                </checkbox>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="categoryCode" cellClass="text-center">
              <ng-template let-sort="sortFn" ngx-datatable-header-template>
                <label class="datatable-header-cell-wrapper" (click)="sort()">Code</label>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.categoryCode}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="categoryNameTha">
              <ng-template let-sort="sortFn" ngx-datatable-header-template>
                <label class="datatable-header-cell-wrapper" (click)="sort()">Name Tha</label>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.categoryNameTha}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="categoryNameEng">
              <ng-template let-sort="sortFn" ngx-datatable-header-template>
                <label class="datatable-header-cell-wrapper" (click)="sort()">Name Eng</label>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.categoryNameEng}}
              </ng-template>
            </ngx-datatable-column>
          </app-table>
          <div class="text-center mt-3">
            <button (click)="onAccept()" class="btn btn-primary">เลือก {{ selectedList.length }} รายการ</button>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</app-modal>