<div class="amount-inline py-1 clearfix">
    <div class="amount-label float-left">{{ 'label.FNDT02.InterestAmt' | translate }}</div>
    <div class="amount float-right"><span class="color-primary">{{target.interestAmt | number:'0.2-2' }}</span> {{ 'label.ALL.Baht' | translate }}</div>
</div>
<div class="amount-inline py-1 clearfix">
    <div class="amount-label float-left">{{ 'label.FNDT02.NetAmt' | translate }}</div>
    <div class="amount float-right"><span class="color-primary">{{target.balAmt | number:'0.2-2' }}</span> {{ 'label.ALL.Baht' | translate }}</div>
</div>
<div class="amount-inline py-1 clearfix">
    <div class="amount-label float-left">{{ 'label.FNDT02.MinPaymentAmt' | translate }}</div>
    <div class="amount float-right"><span class="color-success">{{target.netAmt | number:'0.2-2' }} </span> {{ 'label.ALL.Baht' | translate }}</div>
</div>
<ng-container *ngIf="state === 'BALANCE'" >
    <hr>
    <div class="amount-inline pb-2 clearfix">
        <div class="amount-label float-left">{{ 'label.FNDT02.BalanceAmt' | translate }}</div>
        <div class="amount float-right">{{target.balance | number:'0.2-2' }} {{ 'label.ALL.Baht' | translate }}</div>
    </div>
</ng-container>

<button *ngIf="state === 'MAIN'" (click) = "makePayment();" class="btn btn-success w-100"><h3 class="p-0 m-0">{{target.netAmt | number:'0.2-2' }} {{ 'label.ALL.Baht' | translate }}</h3></button>
<!-- <button *ngIf="state === 'SUMMARY'" (click) = "finish();" class="btn btn-success w-100"><h3 class="p-0 m-0">สร้างใบเสร็จรับเงิน</h3></button> -->
<div *ngIf="state === 'SUMMARY'"><number [formControl] = "amount" currency class="text-right">{{ 'จำนวนที่ชำระ' | translate }} ( {{ 'label.ALL.Baht' | translate }} )</number></div>
<button *ngIf="state === 'BALANCE'" (click) = "finish();" class="btn btn-success w-100"><h3 class="p-0 m-0">{{ 'label.FNDT02.Complete' | translate }}</h3></button>
