<h4>{{ 'label.DBRT17.programName' | translate}}</h4>
<div class="row">
  <div class="col">
    <app-card>
      <div class="card-content">
        <div class="row">
          <div class="col-6">
            <app-search [value]="keyword" (search)="enter($event)"
              placeholder="{{ 'label.DBRT17.searchPlaceholder' | translate}}"></app-search>
          </div>
          <div class="col-6 text-right">
            <button class="btn btn-primary" (click)="print('XLSX')">
              <i class="fas fa-cog fa-spin" [hidden]="!printing"></i>
              <i class="fas fa-print" [hidden]="printing"></i>
              {{ 'label.ALL.ExportExcelFile' | translate}}
            </button>
            <button class="btn btn-primary" (click)="add()"><i class="fas fa-plus-circle"></i>
              {{ 'label.ALL.Add' | translate}}</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <app-table [rows]="building" [page]="page" (onTableEvent)="search()">
              <ngx-datatable-column prop="codeLength,buildingCode" width="100" [cellClass]="'text-center'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">
                    {{ 'label.DBRT17.buildingCode' | translate}}
                  </label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a [routerLink]="['detail']" [state]="{code: row.buildingId}">{{row.buildingCode}}</a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="buildingNameTha" width="200">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">
                    {{ 'label.DBRT17.buildingNameTha' | translate}}
                  </label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.buildingNameTha}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="buildingNameEng" width="200">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">
                    {{ 'label.DBRT17.buildingNameEng' | translate}}
                  </label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.buildingNameEng}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="active" width="100" [cellClass]="'text-center'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">
                    {{ 'label.DBRT17.active' | translate}}
                  </label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <i *ngIf="row.active" class="fas fa-check"></i>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [cellClass]="'text-center'" [sortable]="false" width="100">
                <ng-template ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper">
                    {{ 'label.ALL.Delete' | translate}}
                  </label>
                </ng-template>
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <button (click)="remove(row.buildingId,row.rowVersion)" class="btn btn-outline-danger btn-sm">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </app-table>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>