/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */


/* prompt-300 - thai_latin */

@font-face {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 300;
    src: local('Prompt Light'), local('Prompt-Light'), url('assets/fonts/prompt-v4-thai_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/prompt-v4-thai_latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* prompt-regular - thai_latin */

@font-face {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    src: local('Prompt'), local('Prompt-Regular'), url('assets/fonts/prompt-v4-thai_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/prompt-v4-thai_latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* prompt-500 - thai_latin */

@font-face {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    src: local('Prompt Medium'), local('Prompt-Medium'), url('assets/fonts/prompt-v4-thai_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/prompt-v4-thai_latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* prompt-600 - thai_latin */

@font-face {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 600;
    src: local('Prompt SemiBold'), local('Prompt-SemiBold'), url('assets/fonts/prompt-v4-thai_latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/prompt-v4-thai_latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* prompt-700 - thai_latin */

@font-face {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 700;
    src: local('Prompt Bold'), local('Prompt-Bold'), url('assets/fonts/prompt-v4-thai_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/prompt-v4-thai_latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";
// 3rd party libraries
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "theme/theme-mixin";
@import "~bootstrap/scss/print";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import '~ss-group-datatable/index.css';
@import '~ss-group-datatable/themes/bootstrap.scss';
@import '~ss-group-datatable/assets/icons.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker";
@import '~bs-stepper/dist/css/bs-stepper.min.css';
@import '~ngx-toastr/toastr';
// Theme customization
@import "theme/theme";
@import "theme/loading";
// for calendar scheduler
@import './app/shared/component/calendar/calendar.scss';
// for text editor
@import "~tinymce/skins/lightgray/skin.min.css";
@import "~tinymce/skins/lightgray/content.min.css";
//osmine-bank-icon
@import "theme/bank-icon";
@import "theme/card-icon";