<div class="amount-inline py-1 clearfix">
    <div class="amount-label float-left">{{ 'label.FNRT25.Total' | translate }} ( {{summary.totalQty}}  รายการ )</div>
    <div class="amount float-right"><span class="color-success">{{ summary.totalAmt  | number:'0.2-2' }} </span> {{ 'label.ALL.Baht' | translate }}</div>
</div>
<button type="button" (click) = "finish();" class="btn btn-success w-100"><h3 class="p-0 m-0">{{ 'label.ALL.Save' | translate }}</h3></button>
