@import "src/theme/theme-variables";
:host {
    display: block;
    background-color: $gray-200;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .amount-inline {
        font-size: 1.1em;
        > .amount-label {
            font-weight: bold;
        }
        > .amount {
            font-weight: bold;
        }
    }
}