<app-modal (onClose)="onClose()" header="{{ 'Label.ALL.Lookup' | translate }}">
  <div class="row">
      <div class="col-12">
         <app-card>
            <div class="card-content">
                <app-search [value]="keyword" (search)="enter($event)" placeholder="value,name"></app-search>
                <app-table [rows]="items" [page]="page" (onTableEvent)="search()">
                    <ngx-datatable-column [cellClass]="'text-center'" [sortable]="false" [width]="100">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <button class="btn btn-primary btn-sm" (click)="onSelect(row.value)">
                             {{ 'label.ALL.Select' | translate }}
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="value" cellClass="text-center">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                            <label class="datatable-header-cell-wrapper" (click)="sort()">Item Code</label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.value}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="nameTha">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                            <label class="datatable-header-cell-wrapper" (click)="sort()">Item Name Tha</label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.nameTha}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="nameEng">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                            <label class="datatable-header-cell-wrapper" (click)="sort()">Item Name Eng</label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.nameEng}}
                        </ng-template>
                    </ngx-datatable-column>
                </app-table>
            </div>
         </app-card>
         
      </div>
  </div>
</app-modal >