<toolbar>
  <button class="btn btn-primary" (click)="save()" [disabled]="disBtnSave">
    <i class="fas fa-cog fa-spin" [hidden]="!disBtnSave"></i>
    <i class="fas fa-save" [hidden]="disBtnSave"></i> {{ 'label.ALL.Save' | translate}}</button>
</toolbar>
<h4>{{ 'label.DBRT12.programName' | translate}}</h4>
<div class="row">
  <div class="col">
    <app-card header="{{ 'label.DBRT12.detail' | translate}}">
      <div class="card-menu" *ngIf="detail.programCode">
        <button class="btn btn-primary" (click)="print(cardReport)">
          <i class="fas fa-eye"></i>
          {{ 'label.DBRT12.preview' | translate}}
        </button>
      </div>
      <div class="card-content">
        <div class="col">
          <div class="col">
            <form [formGroup]="dbrt12Form">
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="programCode" class="text-center">{{ 'label.DBRT12.programCode' | translate}}
                  </textbox>
                </div>
                <!-- <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="programCodeMua" class="text-center">
                    {{ 'label.DBRT12.programCodeMua' | translate}}
                    <div class="invalid-feedback" *ngIf="dbrt12Form.controls.programCodeMua.errors">
                      <div *ngIf="dbrt12Form.controls.programCodeMua.errors.required">
                        {{ 'label.DBRT12.Please' | translate}}</div>
                    </div>
                  </textbox>
                </div> -->
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="programNameTha">
                    {{ 'label.DBRT12.programNameTha' | translate}}
                    <div class="invalid-feedback" *ngIf="dbrt12Form.controls.programNameTha.errors">
                      <div *ngIf="dbrt12Form.controls.programNameTha.errors.required">
                        {{ 'label.DBRT12.Please' | translate}}</div>
                    </div>
                  </textbox>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="programNameEng">
                    {{ 'label.DBRT12.programNameEng' | translate}}
                  </textbox>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="programShortNameTha">
                    {{ 'label.DBRT12.programShortNameTha' | translate}}
                    <div class="invalid-feedback" *ngIf="dbrt12Form.controls.programShortNameTha.errors">
                      <div *ngIf="dbrt12Form.controls.programShortNameTha.errors.required">
                        {{ 'label.DBRT12.Please' | translate}}</div>
                    </div>
                  </textbox>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="programShortNameEng">
                    {{ 'label.DBRT12.programShortNameEng' | translate}}
                  </textbox>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="cardName">
                    {{ 'label.DBRT12.cardNameNo1' | translate}}
                  </textbox>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="cardName2">
                    {{ 'label.DBRT12.cardNameNo2' | translate}}
                  </textbox>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  <select-input [items]="master.subjectGroupCode"
                    placeholder="{{ 'label.ALL.PleaseSelect' | translate}}" formControlName="subjectGroupCode">
                    {{ 'label.DBRT12.subjectGroupCode' | translate}}
                    <div class="invalid-feedback" *ngIf="dbrt12Form.controls.subjectGroupCode.errors">
                      <div *ngIf="dbrt12Form.controls.subjectGroupCode.errors.required">
                        {{ 'label.DBRT12.Please' | translate}}</div>
                    </div>
                  </select-input>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <select-input [items]="master.courseDescriptionCode"
                    placeholder="{{ 'label.ALL.PleaseSelect' | translate}}" formControlName="courseDescriptionCode">
                    {{ 'label.DBRT12.courseDescriptionCode' | translate}}
                    <div class="invalid-feedback" *ngIf="dbrt12Form.controls.courseDescriptionCode.errors">
                      <div *ngIf="dbrt12Form.controls.courseDescriptionCode.errors.required">
                        {{ 'label.DBRT12.Please' | translate}}</div>
                    </div>
                  </select-input>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-3 col-sm-3">
                  <checkbox formControlName="active">{{ 'label.DBRT12.active' | translate}}</checkbox>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>

<ng-template #cardReport>
  <app-modal (onClose)="close()" header="{{ 'label.DBRT12.CardReportPopup' | translate }}">
    <div class="row">
      <div class="col">
        <app-card>
          <div class="row card-content">
            <div class="col-md-2"></div>
              <div class="col-md-8 virtualCard">
                <div>
                  <h4 style="margin-bottom: 5%;margin-top: 10%;margin-left: 6%;">{{ 'label.DBRT12.studentIdEx' | translate }}</h4>
                  <h5 style="margin-bottom: 3%;margin-left: 6%;">{{ 'label.DBRT12.nameEx' | translate }}</h5>
                  <h5 style="margin-bottom: 2%;margin-left: 6%;">{{ 'label.DBRT12.lastnameEx' | translate }}</h5>
                  <p style="margin-left: 6%;">{{ 'label.DBRT12.levelEx' | translate }}</p>
                  <br><br>
                  <div class="text-center">
                    <img style="vertical-align: middle;
                                border-radius: 10px;
                                border: 3px solid #fff;
                                width: 120px;" 
                                src="assets/images/ExProfile.jpeg">
                  </div>
                  <br><br><br><br><br>
                  <p style="color: white;margin-bottom: 0.2%;margin-top: 1%;font-size: medium;margin-left: 6%;">{{ 'label.DBRT12.facEx' | translate }}</p>
                  <p style="color: white;margin-bottom: 0.2%;font-size: small;margin-left: 6%;">{{ 'label.DBRT12.subjectEx' | translate }}{{detail.cardName}}</p>
                  <p style="color: white;margin-bottom: 0.5%;font-size: small;margin-left: 6%;">{{detail.cardName2}}</p>
                  <p style="color: white;margin-bottom: 0.2%;font-size: small;margin-left: 6%;">{{ 'label.DBRT12.issueDateEx' | translate }}</p>
                  <p style="color: white;margin-bottom: 0.2%;font-size: small;margin-left: 6%;">{{ 'label.DBRT12.expiryDateEx' | translate }}</p>
                </div>
              </div>
            <div class="col-md-2"></div>
          </div>
        </app-card>
      </div>
    </div>
  </app-modal>
</ng-template>