.virtualCard {
  // padding-top: 30px;
  // max-width: 265px;
  // width: 265px;
  // margin-top: 16px;
  background-image: url(/assets/images/virtualCardBG.gif);
  background-size: auto 100%;
  height: 530px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

