<toolbar>
  <button class="btn btn-primary" (click)="save()" [disabled]="saving">
    <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
    <i class="fas fa-save" [hidden]="saving"></i> {{ 'label.ALL.Save' | translate}}</button>
</toolbar>
<h4>{{ 'label.DBRT09.programName' | translate}}</h4>
<div class="row">
  <div class="col">
    <app-card header="{{ 'label.DBRT09.detail' | translate}}">
      <div class="card-content">
        <div class="col">
          <div class="col">
            <form #dbrt09 [formGroup]="dbrt09Form">
              <div class="form-row">
                <div class="form-group col-md-3 col-sm-3">
                  <textbox formControlName="educationTypeLevel" class="text-center">
                    {{ 'label.DBRT09.educationTypeLevel' | translate}}
                  </textbox>
                </div>
                <div class="form-group col-md-3 col-sm-3">
                  <textbox formControlName="educationTypeCodeMua" class="text-center">
                    {{ 'label.DBRT09.educationTypeCodeMua' | translate}}
                    <div class="invalid-feedback" *ngIf="dbrt09Form.controls.educationTypeCodeMua.errors">
                      <div *ngIf="dbrt09Form.controls.educationTypeCodeMua.errors.required">
                        {{ 'label.DBRT09.Please' | translate}}</div>
                    </div>
                  </textbox>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <select-input [items]="master.level" placeholder="{{ 'label.ALL.PleaseSelect' | translate}}"
                    formControlName="groupLevel">
                    {{ 'label.DBRT09.groupLevel' | translate}}
                    <div class="invalid-feedback" *ngIf="dbrt09Form.controls.groupLevel.errors">
                      <div *ngIf="dbrt09Form.controls.groupLevel.errors.required">{{ 'label.DBRT09.Please' | translate}}
                      </div>
                    </div>
                  </select-input>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="educationTypeLevelNameTha">
                    {{ 'label.DBRT09.educationTypeLevelNameTha' | translate}}
                    <div class="invalid-feedback" *ngIf="dbrt09Form.controls.educationTypeLevelNameTha.errors">
                      <div *ngIf="dbrt09Form.controls.educationTypeLevelNameTha.errors.required">
                        {{ 'label.DBRT09.Please' | translate}}</div>
                    </div>
                  </textbox>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="educationTypeLevelNameEng">
                    {{ 'label.DBRT09.educationTypeLevelNameEng' | translate}}
                  </textbox>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="educationLevelShortNameTha">
                    {{ 'label.DBRT09.educationLevelShortNameTha' | translate}}
                    <div class="invalid-feedback" *ngIf="dbrt09Form.controls.educationLevelShortNameTha.errors">
                      <div *ngIf="dbrt09Form.controls.educationLevelShortNameTha.errors.required">
                        {{ 'label.DBRT09.Please' | translate}}</div>
                    </div>
                  </textbox>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="educationLevelShortNameEng">
                    {{ 'label.DBRT09.educationLevelShortNameEng' | translate}}
                  </textbox>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="formatCode">
                    {{ 'label.DBRT09.educationTypeStudentCode' | translate}}
                    <div class="invalid-feedback" *ngIf="dbrt09Form.controls.formatCode.errors">
                      <div *ngIf="dbrt09Form.controls.formatCode.errors.required">{{ 'label.DBRT09.Please' | translate}}
                      </div>
                    </div>
                  </textbox>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <checkbox formControlName="active">
                    {{ 'label.DBRT09.active' | translate}}</checkbox>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-card header="{{ 'label.DBRT09.degreeDetail' | translate}}">
      <div class="card-menu">
        <div class="col">
          <div class="text-right">
            <button class="btn btn-primary" (click)="addEducationLevelDegree();"><i class="fas fa-plus-circle"></i>
              {{ 'label.ALL.Add' | translate}}
            </button>
          </div>
        </div>
      </div>
      <div class="card-content">
        <app-table-client #GroupTable [rows]="detail.dbEducationLevelDegree">
          <ngx-datatable-column prop="degreeId" [cellClass]="'text-center'" width="600">
            <ng-template ngx-datatable-header-template>
              <label class="datatable-header-cell-wrapper">
                {{ 'label.DBRT09.degree' | translate}}
              </label>
            </ng-template>
            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <div [formGroup]="row.form">
                <select-input [items]="master.degree" formControlName="degreeId" [hasLabel]="false" [small]="true"
                  placeholder="{{ 'label.ALL.PleaseSelect' | translate}}"></select-input>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="active" width="50" [cellClass]="'text-center'">
            <ng-template let-sort="sortFn" ngx-datatable-header-template>
              <label class="datatable-header-cell-wrapper"
                (click)="sort()">{{ 'label.DBRT09.active' | translate}}</label>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div [formGroup]="row.form">
                <checkbox formControlName="active"></checkbox>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [cellClass]="'text-center'" [sortable]="false" width="50">
            <ng-template ngx-datatable-header-template>
              <label class="datatable-header-cell-wrapper">{{ 'label.ALL.Delete' | translate}}</label>
            </ng-template>
            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <button class="btn btn-outline-danger btn-sm" (click)="removeEducationLevelDegree(row)">
                <i class="far fa-trash-alt"></i>
              </button>
            </ng-template>
          </ngx-datatable-column>
        </app-table-client>
      </div>
    </app-card>
  </div>
</div>