<toolbar>
</toolbar>
<h4>{{ 'label.DBRT18.programName' | translate}}</h4>
<div class="row">
  <div class="col">
    <app-card>
      <div class="card-content">
        <div class="row">
          <div class="col-6">
            <app-search [value]="keyword" (search)="enter($event)" placeholder="{{ 'label.DBRT18.searchPlaceholder2' | translate}}">
            </app-search>
          </div>
          <div class="col-6 text-right">
            <button class="btn btn-primary" (click)="add()"><i class="fas fa-plus-circle"></i>
              {{ 'label.ALL.Add' | translate}}</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <app-table [rows]="listDetail" [page]="page" (onTableEvent)="search()">
              <ngx-datatable-column prop="listItemCode" width="100" [cellClass]="'text-center'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper"
                    (click)="sort()">{{ 'label.DBRT18.listItemCode' | translate}}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a [routerLink]="['managament']"
                    [state]="{code: row.listItemGroupCode , code2: row.listItemCode}">{{row.listItemCode}}</a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="listItemCodeMua" width="100" [cellClass]="'text-center'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper"
                    (click)="sort()">{{ 'label.DBRT18.listItemCodeMua' | translate}}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.listItemCodeMua}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="listItemNameTha" width="200">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper"
                    (click)="sort()">{{ 'label.DBRT18.listItemNameTha' | translate}}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.listItemNameTha}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="listItemNameEng" width="200">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper"
                    (click)="sort()">{{ 'label.DBRT18.listItemNameEng' | translate}}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.listItemNameEng}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="listItemShortNameTha" width="100">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper"
                    (click)="sort()">{{ 'label.DBRT18.listItemShortNameTha' | translate}}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.listItemShortNameTha}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="listItemShortNameEng" width="100">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper"
                    (click)="sort()">{{ 'label.DBRT18.listItemShortNameEng' | translate}}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.listItemShortNameEng}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="active" width="50" [cellClass]="'text-center'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper"
                    (click)="sort()">{{ 'label.DBRT18.active' | translate}}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <i *ngIf="row.active" class="fas fa-check"></i>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [cellClass]="'text-center'" [sortable]="false" width="50">
                <ng-template ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper">{{ 'label.ALL.Delete' | translate}}</label>
                </ng-template>
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <button (click)="remove(row.listItemGroupCode,row.listItemCode,row.rowVersion)"
                    class="btn btn-outline-danger btn-sm">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </app-table>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>