.omise-logo {
    display: inline-block;
    vertical-align: middle;
    width: 128px;
    height: 128px;
    background-repeat: no-repeat;
    background-color: #000;
    border-radius: 5px;
    &.bbl {  
        background: url('assets/images/bank_icon.png') 0 0;
    }
    &.kbank {
        background: url('assets/images/bank_icon.png') -160px 0; 
        &.small {
            background-position: -57px 0;
        }      
    }
    &.scb {
        background: url('assets/images/bank_icon.png') -1120px 0;
        &.small {
            background-position: -398px 0;
        }
    }
    &.bay {
        background: url('assets/images/bank_icon.png') 0 0;
        &.small {
            background-position: -228px -57px;
        }
    }
    &.gsb {
        background: url('assets/images/bank_icon.png') -455px -57px;
        &.small {
            background-position: -455px -57px;
        }
    }
    &.ktb {
        background: url('assets/images/bank_icon.png') -171px 0;
        &.small {
            background-position: -171px -0;
        }
    }
    &.uob {
        background: url('assets/images/bank_icon.png') -171px 0;
        &.small {
            background-position: -171px -57px;
        }
    }
    &.small {
        background-size: 500px;
        width: 45px;
        height: 45px;
    }
    
}