.card-icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    width: 128px;
    height: 128px;
    &.visa {        
        background: url('assets/images/card_provider_icon.jpg') 0 0;
    }
    &.master-card {
        background: url('assets/images/card_provider_icon.jpg') 0 0;    
        &.small {
            background-position-x: -37px;
        }   
    }
    &.union-pay {
        background: url('assets/images/card_provider_icon.jpg') 0 0;
        &.small {
            background-position: -115px 19px;
        }
    }
    &.jcb {
        background: url('assets/images/card_provider_icon.jpg') 0 0;
        &.small {
            background-position: -74px 19px;
        }
    }
    &.small {
        background-size: 180px;
        width: 30px;
        height: 19px;
    }
}