
.cssload-loader .logo {
    position: absolute;
    opacity: 0.7;
    width: 80px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
  }
  .cssload-loader {
    position: relative;
    left: calc(50% - 120px);
    width: 240px;
    height: 240px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    perspective: 3000px;
  }
  
  .cssload-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  
  .cssload-inner.cssload-one {
    left: 0%;
    top: 0%;
    animation: cssload-rotate-one 1.9s linear infinite;
    -o-animation: cssload-rotate-one 1.9s linear infinite;
    -ms-animation: cssload-rotate-one 1.9s linear infinite;
    -webkit-animation: cssload-rotate-one 1.9s linear infinite;
    -moz-animation: cssload-rotate-one 1.9s linear infinite;
    border-bottom: 11px solid #8e7cc39c;
  }
  
  .cssload-inner.cssload-two {
    right: 0%;
    top: 0%;
    animation: cssload-rotate-two 1.9s linear infinite;
    -o-animation: cssload-rotate-two 1.9s linear infinite;
    -ms-animation: cssload-rotate-two 1.9s linear infinite;
    -webkit-animation: cssload-rotate-two 1.9s linear infinite;
    -moz-animation: cssload-rotate-two 1.9s linear infinite;
    border-right: 11px solid #0099e6a2
  }
  
  .cssload-inner.cssload-three {
    right: 0%;
    bottom: 0%;
    animation: cssload-rotate-three 1.9s linear infinite;
    -o-animation: cssload-rotate-three 1.9s linear infinite;
    -ms-animation: cssload-rotate-three 1.9s linear infinite;
    -webkit-animation: cssload-rotate-three 1.9s linear infinite;
    -moz-animation: cssload-rotate-three 1.9s linear infinite;
    border-top: 11px solid #f196ee8c
  }
  
  @keyframes cssload-rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @-o-keyframes cssload-rotate-one {
    0% {
      -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @-ms-keyframes cssload-rotate-one {
    0% {
      -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @-webkit-keyframes cssload-rotate-one {
    0% {
      -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @-moz-keyframes cssload-rotate-one {
    0% {
      -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes cssload-rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @-o-keyframes cssload-rotate-two {
    0% {
      -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @-ms-keyframes cssload-rotate-two {
    0% {
      -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @-webkit-keyframes cssload-rotate-two {
    0% {
      -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @-moz-keyframes cssload-rotate-two {
    0% {
      -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes cssload-rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }
  
  @-o-keyframes cssload-rotate-three {
    0% {
      -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }
  
  @-ms-keyframes cssload-rotate-three {
    0% {
      -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }
  
  @-webkit-keyframes cssload-rotate-three {
    0% {
      -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }
  
  @-moz-keyframes cssload-rotate-three {
    0% {
      -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }
  