<label *ngIf="hasLabel">
  <ng-content></ng-content><span *ngIf="required" class="text-danger"> *</span>
</label>
<ng-select class="custom" [class.is-invalid]="hasErrors" [items]="items | async" [bindLabel]="bindLabel"
  [bindValue]="bindValue" [disabled]="disabled" [appendTo]="appendTo" dropdownPosition="bottom" [class.sm]="small"
  [ngModel]="value" (ngModelChange)="onSelected($event)" [loading]="loading"
  [trackByFn]="trackByFn" (open)="onOpen()" [typeahead]="typeAhead" notFoundText="{{'label.ALL.NotFound' | translate}}" typeToSearchText="{{ 'label.ALL.TypeToSearch' | translate }}"
  placeholder="{{placeholder | translate}}">
  <ng-template *ngIf="showDescription && !customTemplate" ng-option-tmp let-item="item" let-index="index"
    let-search="searchTerm">
    <div [ngOptionHighlight]="search" class="ng-option-label" container="body"
      tooltip="{{item[bindLabel]}} : {{item[bindDesc]}}">{{item[bindLabel]}}</div>
    <small class="text-secondary" [ngOptionHighlight]="search">{{item[bindDesc]}}</small>
  </ng-template>
  <ng-template *ngIf="!showDescription && !customTemplate" ng-option-tmp let-item="item" let-index="index"
    let-search="searchTerm">
    <div class="select-option">
      <span [ngOptionHighlight]="search" container="body" tooltip="{{item[bindLabel]}}"
        class="ng-option-label">{{item[bindLabel]}} </span>
    </div>
  </ng-template>
  <ng-template *ngIf="customLabel" ng-label-tmp let-item="item">
    <ng-container *ngTemplateOutlet="labelTemplate; context:{ item: item }"></ng-container>
  </ng-template>
  <ng-template *ngIf="customTemplate" ng-option-tmp let-item="item" let-search="searchTerm">
    <ng-container *ngTemplateOutlet="optionTemplate; context:{ item: item,search:search }"></ng-container>
  </ng-template>
</ng-select>
<div class="invalid" *ngIf="hasErrors">
  <div *ngIf="control.hasError('required') ">
    {{'message.STD00036' | translate}}
  </div>
</div>