<form #fg [formGroup]="paymentForm" >
  <div class="p-4 d-flex flex-column align-items-start">
    <div class="d-flex align-items-center w-100">
      <h3 class="title" style="flex: 1 1 auto;"><i class="fas fa-wallet"></i> {{ 'label.FNDT02.ReceiveWithTransfer' | translate }}</h3>
      <h2 class="title p-0">{{price | number : '1.2'}}</h2> 
      <h3 class="title ml-2">{{ 'label.ALL.Baht' | translate }}</h3>
    </div>
    <div class="my-4 w-100">
      <div class="mb-2">
        <select-input [modelChange] = "accountChange" formControlName = "account" [items]="resolved.master.navBanks || []" placeholder="{{ 'กรุณาเลือกธนาคาร' | translate }}">
          {{ 'label.FNDT02.BankAccount' | translate }}
        </select-input>
      </div>
      <div class="mb-2">
        <areabox [small] = "true" formControlName = "description" placeholder="{{ 'label.ALL.Description' | translate }}">{{ 'label.ALL.Description' | translate }}</areabox> 
      </div>
      <pos-number class="w-100" [class] = "'pos-big-text text-center'" [hasLabel] = "true" formControlName = "amount">
        {{ 'label.FNDT02.ReceiveAmt' | translate }}
      </pos-number>   
    </div>
    <button type="button" (click) = "util.focusInvalid(fg);complete();" class="w-100 submit-btn btn btn-success" >{{ 'label.ALL.Ok' | translate }}</button>   
  </div>
</form>
<button type="button" (click) = "close();" style="position: absolute; top: 0px;left: 101%;" class="btn btn-danger">X</button>   
  