<ng-template [ngIf]="!!items && items.length > 0" [ngIfElse]="elseBlock"> 
    <ng-container *ngFor="let item of items.controls; let i = index;">
        <div class="invoice-wrapper d-flex align-items-start p-2 mb-2">
            <div>
                <button (click) = "clear(i); $event.stopPropagation()" class="btn btn-danger"><i class="fas fa-times"></i></button>
            </div>
            <div class="flex-grow-1 flex-column">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 px-2 mx-2">
                        <h5 class="invoice-no d-block p-0 m-0 color-success">
                            188 : ค่าห้องประชุม
                        </h5>
                    </div>
                    <h4 class="d-block p-0 m-0 color-success">{{ 20000 | number:'0.2-2' }} {{ 'label.ALL.Baht' | translate }}</h4>  
                </div> 
                <div class="d-flex px-2 mx-2">
                    <div class="mr-2">
                        <number class="text-rigth">
                            {{ 'จำนวน (หน่วย)' | translate }}
                        </number>
                    </div>
                    <div>
                        <number class="text-rigth">
                            {{ 'ราคา  (บาท)' | translate }}
                        </number>
                    </div>
                </div>
                <div class="px-2 mx-2 mt-2">
                    <button class="btn btn-primary">กำหนดข้อมูลทางบัญชี</button>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>
<ng-template #elseBlock>
    <div class="d-flex justify-content-center align-items-center flex-column" style="height: 100%;">
        <i class="fas fa-list fa-7x mb-2" style="color: #ced4da;"></i>
        {{ 'label.ALL.DataNotFound' | translate }}
    </div>
</ng-template>  
