@import "src/theme/theme-variables";
:host {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    display: block;
}
.invoice-wrapper  {
    background-color: #f3f3f3;
    border-radius: 5px;
    // font-size: 14px;
}
// ul.invoice-item {
//     position: relative;
//     border-top: 1px solid #e2e2e2;
//     > li {
//         span {
//             &.action-btn {
//                 cursor: pointer;
//                 float: left;
//             }
//             &.name {
//                 float: left;
//             }
//             &.amount {
//                 float: right;
//             }
//         }
//     }
// }
// section {
//     ul.items-wrapper {
//         margin: 0;
//         list-style: none;
//         padding: 0;
//         li {
//             background-color: #e2e2e2;
//             padding: 5px;
//             border-radius: 3px;
//             margin-bottom: 5px;
//             &:last-child {
//                 margin-bottom: 0px;
//             }
//         }
//     }
//     .title {
//         padding: 0px;
//         margin: 0px;
//         color: $main;
//     }
// }