<h4>{{ 'label.DBRT06.programName' | translate}}</h4>
<div class="row">
  <div class="col">
    <app-card>
      <div class="card-content">
        <div class="row">
          <div class="col-6">
            <app-search [value]="keyword" (search)="enter($event)" placeholder="{{ 'label.DBRT06.searchPlaceholder' | translate}}">
            </app-search>
          </div>
          <div class="col-6 text-right">
            <button class="btn btn-primary" (click)="add()"><i class="fas fa-plus-circle"></i>
              {{ 'label.ALL.Add' | translate}}</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <app-table [rows]="postalcode" [page]="page" (onTableEvent)="search()">
              <ngx-datatable-column prop="codeLength,postalCode" width="100" [cellClass]="'text-center'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">
                    {{ 'label.DBRT06.postalCode' | translate}}
                  </label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a [routerLink]="['detail']" [state]="{code: row.postalCodeId}">{{row.postalCode}}</a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="postalNameTha" width="250">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">
                    {{ 'label.DBRT06.postalNameTha' | translate}}
                  </label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.postalNameTha}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="postalNameEng" width="250">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">
                    {{ 'label.DBRT06.postalNameEng' | translate}}
                  </label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.postalNameEng}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="subDistrictId" width="200">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">
                    {{ 'label.DBRT06.subDistrict' | translate}}
                  </label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.subDistrictId}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="districtId" width="200">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">
                    {{ 'label.DBRT06.district' | translate}}
                  </label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.districtId}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="provinceId" width="200">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">
                    {{ 'label.DBRT06.province' | translate}}
                  </label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.provinceId}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="active" width="100" [cellClass]="'text-center'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">
                    {{ 'label.DBRT06.active' | translate}}
                  </label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <i *ngIf="row.active" class="fas fa-check"></i>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [cellClass]="'text-center'" [sortable]="false" width="100">
                <ng-template ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper">
                    {{ 'label.ALL.Delete' | translate}}
                  </label>
                </ng-template>
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <button (click)="remove(row.postalCodeId,row.rowVersion)" class="btn btn-outline-danger btn-sm">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </app-table>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>