<div id="pos-container" class="container-fluid">
    <div class="row" style="height: 100%;">
        <div class="pos-left-panel col-4 p-0">
            <div class="table" style="height: 100%;">
                <div class="tr">
                    <div class="td pos-toolbar align-middle px-2" style="height: 64px;">
                        <button class="btn btn-primary" (click) = "goHome()">
                            <i class="fas fa-home"></i> 
                            <span class="d-none d-sm-inline">{{ 'label.FNDT02.GoHome' | translate }}</span>
                        </button>
                        <div class="d-none d-sm-inline title mx-2">{{ 'label.FNDT02.ProgramName' | translate }}</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="td p-2" style="height: 70px;">
                        <pos-customer *ngIf = "!!_target.billNo || !!_target.templateId" [state] = "'BALANCE'" [bill] = "bill"></pos-customer>
                    </div>
                </div>
                <div class="tr">
                    <div class="td px-2">
                        <pos-panel-bill-item [state] = "'BALANCE'" [bill] = "bill"></pos-panel-bill-item>                                 
                    </div>
                </div>
                <div class="tr">
                    <div class="td px-2" style="height: 152px;">
                        <pos-action [state] = "'BALANCE'" [bill] = "bill" class="py-2"></pos-action>                
                    </div>
                </div>
            </div>
        </div>
        <div class="pos-right-panel col p-0">
            <pos-toolbar></pos-toolbar>
            <div class="row px-4 pt-4">
                <div class="col">
                    <div class="d-flex align-items-center">
                        <h3 class="p-0 m-0 text-white">{{ 'label.FNDT02.BalanceAmt' | translate }}</h3>
                        <span style="flex: 1 1 auto;"></span>
                        <h1 class="payment-info p-3 m-0">{{ _target.balance | number: '0.2-2' }}</h1>
                        <h3 class="p-0 m-0 ml-4 text-white">{{ 'label.ALL.Baht' | translate }}</h3>
                    </div>
                </div>
            </div>          
            <div class="row px-4">
                <div class="col">
                    <hr>
                </div>
            </div>
            <div class="row px-4">
                <div class="col">
                    <pos-receipt-items (onExport) = "export($event);"></pos-receipt-items>
                </div>
            </div>
            <div class="row px-4">
                <div class="col">
                    <hr>
                    <div><h3 class="text-white"><i class="fas fa-sliders-h"></i> {{ 'label.FNDT02.Settings' | translate }}</h3></div>
                    <div>
                        <radio class="text-white" [items]="languageRadioItems" [formControl]="language">
                            {{ 'label.FNDT02.LanguageSetting' | translate }}
                        </radio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<swal
  #successSwal
  title="ชำระเงินเสร็จสิ้น"
  type="success"
  [timer]= "3000">
</swal>