<div id="pos-container" class="container-fluid">
    <div class="row" style="height: 100%;">
        <div class="pos-left-panel col-4 p-0">
            <div class="table" style="height: 100%;">
                <div class="tr">
                    <div class="td pos-toolbar align-middle px-2" style="height: 64px;">
                        <button class="btn btn-primary" (click) = "goHome()">
                            <i class="fas fa-home"></i> 
                            <span class="d-none d-sm-inline ml-1">{{ 'label.FNDT02.GoHome' | translate }}</span>
                        </button>
                        <div class="d-none d-sm-inline title mx-2">{{ 'label.FNDT02.ProgramName' | translate }}</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="td p-2" style="height: 70px;">
                        <pos-autocomplete [value] = "_target.target || null" [onSearch] = "onSearchStudentFrom" (onSelected) = "onStudentSelected($event);"></pos-autocomplete>
                    </div>
                </div>
                <div class="tr">
                    <div class="td px-2">
                        <pos-panel-bill-item [bill] = "bill"></pos-panel-bill-item>                                 
                    </div>
                </div>
                <div class="tr">
                    <div class="td px-2" style="height: 152px;">
                        <pos-action [state] = "'MAIN'" [bill] = "bill" class="py-2"></pos-action>                
                    </div>
                </div>
            </div>
        </div>
        <div class="pos-right-panel col p-0 d-flex flex-column">
            <pos-toolbar></pos-toolbar>
            <div class="container-fluid">
                <div class="row filter-row align-items-baseline">
                    <div class="col-3">
                        <select-input [formControl] = "categoryControl" class="custom-pos-select" [hasLabel]="false" [items]="categories || []" placeholder="{{ 'ทั้งหมด' | translate }}"></select-input>
                    </div>
                    <div class="col-9"><app-search (search)="onSearch($event);" placeholder="{{ 'ค้นหารายการ' | translate}}" class="custom-pos-search"></app-search></div>
                </div>
            </div> 
            <pos-items class="flex-grow-1 mx-3 mt-3" [items] = "items" (selected) = "onItemSelected($event);"></pos-items>       
        </div>
    </div>
</div>