@import "src/theme/theme-variables";
:host {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    background-color: #DCD3D3;
}

#pos-container {
    height: 100%;
    .pos-toolbar {
        background-color: $main;
        color: $gray-100;
    }  
    .pos-left-panel {
        height: 100%;
        background-color: $gray-100;
        min-width: 520px;
        max-width: 600px;
    } 
    .pos-right-panel {
        height: 100%;
        overflow: hidden;
        max-height: 100%;
        background-color: #4d4873;
    }
}
.hide-scroll::-webkit-scrollbar {
    display: none;
}
.hide-scroll {
    -ms-overflow-style: none;
}
.payment-info {
    background-color: #ffffff;
    border-radius: 5px;
    min-width: 300px;
    text-align: center;
    color: $green;
}

.table {
    display: table;
}
.tr {
    display: table-row;
}
.td {
    display: table-cell
}

.floating-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
}
.filter-row {
    padding: 10px 0px;
    background: #3e3a5d;
}
.custom-pos-select {
    display: block;
    background: #e8e8e8;
    padding: 4.02px;
    border-radius: 5px;
}
.custom-pos-search {
    background: #e8e7e7;
    display: block;
    border-radius: 5px;
}
.custom-pos-search  /deep/ .input-group {
    margin-bottom: 0px;
}

li.receive-item {
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    color: #12a286;
    list-style: none;
}