<div id="pos-container" class="container-fluid">
    <div class="row" style="height: 100%;">
        <div class="pos-left-panel col-4 p-0">
            <div class="table" style="height: 100%;">
                <div class="tr">
                    <div class="td pos-toolbar align-middle px-2" style="height: 64px;">
                        <button (click) = "back()" class="btn btn-primary">
                            <i class="fas fa-step-backward"></i>
                            <span class="d-none d-sm-inline">{{ 'label.ALL.Back' | translate }}</span>
                        </button>
                        <div class="d-none d-sm-inline title mx-2">{{ 'label.FNDT02.ProgramName' | translate }}</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="td p-2" style="height: 70px;">
                        <pos-customer *ngIf = "!!_target.billNo || !!_target.templateId" [state] = "'SUMMARY'" [bill] = "bill"></pos-customer>
                    </div>
                </div>
                <div class="tr">
                    <div class="td px-2">
                        <pos-panel-bill-item [state] = "'SUMMARY'" [bill] = "bill"></pos-panel-bill-item>                                 
                    </div>
                </div>
                <div class="tr">
                    <div class="td px-2" style="height: 152px;">
                        <pos-action [state] = "'SUMMARY'" [bill] = "bill" class="py-2"></pos-action>                
                    </div>
                </div>
            </div>
        </div>
        <div class="pos-right-panel col p-0">
            <pos-toolbar></pos-toolbar>
            <div class="row px-4 pt-4">
                <div class="col">
                    <div class="d-flex align-items-center">
                        <h3 class="p-0 m-0 text-white">{{ 'label.FNDT02.PayAmount' | translate }}</h3>
                        <span style="flex: 1 1 auto;"></span>
                        <!-- _target.netAmt -->
                        <h1 class="payment-info p-3 m-0">{{ balance - receiveBalance | number: '0.2-2' }}</h1>
                        <h3 class="p-0 m-0 ml-4 text-white">{{ 'label.ALL.Baht' | translate }}</h3>
                    </div>
                </div>
            </div>          
            <div class="row px-4">
                <div class="col">
                    <hr>
                </div>
            </div>
            <div class="row px-4">
                <div class="col">
                    <pos-receive-items (onCollected) = "pay($event);" [payload] = "_target" [balance] = "balance - receiveBalance"></pos-receive-items>
                </div>
            </div>
            <hr>
            <div class="row px-4">
                <div class="col"><h3 class="p-0 m-0 text-white"><i class="fas fa-cash-register"></i> {{ 'รายการรับชำระเงิน' | translate }} {{receives.length || 0}} รายการ ( {{receiveBalance | number: '1.2'}} {{ 'label.ALL.Baht' | translate }} )</h3></div>
            </div>
            <div class="row p-4">
                <div class="col">
                    <ul class="px-0">
                        <li *ngIf="receives.length === 0" class="mb-2 receive-item text-warnning" style="color: #dec25e;"><i class="fas fa-exclamation-triangle"></i> ไม่พบรายการรับชำระเงิน</li>
                        <li class="mb-2 receive-item" *ngFor="let item of receives; let i = index;"><button (click) = "deleteReceive(i, item.receiveAmt || 0);" class="btn btn-small btn-danger mr-2" type="button"><i class="fas fa-times"></i></button>{{item.receiveTypeName}} {{item.account}} {{item.cardNo}} {{ item.receiveAmt + item.feeAmt | number: '1.2' }} {{ 'label.ALL.Baht' | translate }} <ng-container *ngIf="!!item.description">( {{item.description}} )</ng-container></li>
                    </ul>
                </div>
            </div>
            <div *ngIf = "isError" class="row px-4">
                <div class="col">
                    <span class="text-white mr-2"><i class="fas fa-exclamation-circle"></i> {{ 'label.FNDT02.SomethingWentWrong' | translate }}</span> <button type="button" (click) = "makePayment();" class="btn btn-primary"><i class="fas fa-redo"></i> {{ 'label.FNDT02.RetryPayment' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
