@import "src/theme/theme-variables";
.template-header {
    background-color: #ffffff;
    margin: 10px;
    border-radius: 5px;
}
.template-items {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    display: block;
}
.invoice-wrapper  {
    background-color: #f3f3f3;
    border-radius: 5px;
}