<form #formData [formGroup] = "form" id="pos-container" class="container-fluid">
    <div class="row" style="height: 100%;">  
        <div class="pos-left-panel col-4 p-0">
            <div class="table" style="height: 100%;">
                <div class="tr">
                    <div class="td pos-toolbar align-middle px-2" style="height: 64px;">
                        <button type="button" class="btn btn-primary" (click) = "goBack()">
                            <i class="fas fa-step-backward"></i>
                            <span class="d-none d-sm-inline">{{ 'label.ALL.Back' | translate }}</span>
                        </button>
                        <div class="d-none d-sm-inline title mx-2">{{ 'label.FNRT25.AddCustomTemplate' | translate }}</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="td px-2">
                        <div class="template-items" formArrayName= "items" >
                            <ng-template [ngIf]="!!formItems && formItems.length > 0" [ngIfElse]="elseBlock"> 
                                <ng-container *ngFor="let item of formItems.controls; let i = index;" [formGroupName]="i">
                                    <div class="invoice-wrapper d-flex align-items-start p-2 mb-2">
                                        <div>
                                            <button type="button" (click) = "removeItems(i, item); $event.stopPropagation();" class="btn btn-danger"><i class="fas fa-times"></i></button>
                                        </div>
                                        <div class="flex-grow-1 flex-column">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-grow-1 px-2 mx-2">
                                                    <h5 class="invoice-no d-block p-0 m-0 color-success">
                                                        {{item.get('itmCode').value}} : {{item.get('itmName').value}}
                                                    </h5>
                                                </div>
                                                <h4 class="d-block p-0 m-0 color-success">{{ item.get('grossAmt').value | number:'0.2-2' }} {{ 'label.ALL.Baht' | translate }}</h4>  
                                            </div> 
                                            <div class="d-flex px-2 mx-2">
                                                <div class="mr-2">
                                                    <number formControlName="amount" class="text-rigth">
                                                        {{ 'label.FNRT25.ItemUms' | translate: { UmsCode: item.get('umsName').value } }}
                                                    </number>
                                                </div>
                                                <div>
                                                    <number formControlName="price" class="text-rigth">
                                                        {{ 'label.FNRT25.ItemPrice' | translate }}
                                                    </number>
                                                </div>
                                            </div>
                                            <div class="px-2 mx-2 mt-2">
                                                <button (click) = "settingAccount(i);" type="button" class="btn btn-primary">{{ 'label.FNRT25.AccountSetting' | translate }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-template>
                            <ng-template #elseBlock>
                                <div class="d-flex justify-content-center align-items-center flex-column" style="height: 100%;">
                                    <i class="fas fa-list fa-7x mb-2" style="color: #ced4da;"></i>
                                    {{ 'label.ALL.DataNotFound' | translate }}
                                </div>
                            </ng-template>  
                        </div>                               
                    </div>
                </div>
                <div class="tr">
                    <div class="td px-2" style="height: 90px;">
                        <pos-template-actions [summary] = "summary" class="py-2" (saving) = "util.focusInvalid(formData); save();"></pos-template-actions>                
                    </div>
                </div>
            </div>
        </div>
        <div class="pos-right-panel col p-0 d-flex flex-column">
            <pos-toolbar></pos-toolbar>
            <div class="template-header py-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6"><textbox formControlName="templateName">{{ 'label.FNRT25.TemplateName' | translate }}</textbox></div>
                        <div class="col-6">
                            <checkbox formControlName="active">{{ 'label.FNRT25.Active' | translate}}</checkbox>
                            <checkbox class="ml-2" formControlName="isActive">{{ 'label.FNRT25.IsActive' | translate}}</checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6"><select-input formControlName = "educationTypeLevel" [items]="master.educationTypeLevels" placeholder="{{ 'ทั้งหมด' | translate }}">
                            {{ 'label.FNRT25.EducationTypeLevel' | translate }}
                        </select-input></div>
                    </div>
                    <div class="row">
                        <div class="col"><datepicker formControlName = "effectiveDate" >{{ 'label.FNRT25.From' | translate }} {{ 'label.FNRT25.EffectiveDate' | translate }}</datepicker></div>
                        <div class="col"><datepicker formControlName = "endDate">{{ 'label.FNRT25.To' | translate }}</datepicker></div>                        
                    </div>
                </div>               
            </div>
            <div class="container-fluid">
                <div class="row filter-row align-items-baseline">
                    <div class="col">
                        <app-search (search)="onSearch($event);" placeholder="{{ 'label.FNRT25.SearchItems' | translate }}" class="custom-pos-search"></app-search>
                    </div>
                </div>
            </div>       
            <pos-items class="flex-grow-1 mx-3 mt-3" type = "ITEM" [items] = "items" (selected) = "addItems($event);"></pos-items>
        </div>
    </div>
</form>