<toolbar>
  <button class="btn btn-primary" (click)="util.focusInvalid(userDetail); save()">
    <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
    <i class="fas fa-save" [hidden]="saving"></i> {{ 'label.ALL.Save' | translate}}</button>
</toolbar>
<h4>{{ 'label.SURT06.ProgramName' | translate}} <span *ngIf="ss.userType">({{ ss.userType.name }})</span></h4>
<div class="row">
  <div class="col">
    <tabset>
      <tab heading="{{ 'label.SURT06.UserInfo' | translate }}">

        <form #userDetail [formGroup]="userForm">
          <div class="form-row">
            <div class="form-group col-md-3 col-sm-6">
              <textbox formControlName="userName" class="text-center">{{ 'label.SURT06.Username' | translate}}
                <div class="invalid-pattern">
                  {{ 'message.SU00021' | translate }}
                </div>
              </textbox>
            </div>
            <div class="form-group col-md-3 col-sm-6">
              <typeahead [source]="employeeSource"
                formControlName="employeeCode">
                {{ personLabel | translate }}</typeahead>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-6">
              <textbox [value]="user.email" [disabled]="true">{{ 'label.SURT06.Email' | translate}}
              </textbox>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-6">
              <select-input [items]="master.languages" formControlName="defaultLang">
                {{ 'label.SURT06.Language' | translate }}</select-input>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3 col-sm-6">
              <select-input [items]="policies" bindValue="policyCode" bindLabel="policyName"
                [modelChange]="policyChange" formControlName="passwordPolicyCode">
                {{ 'label.SURT06.Policy' | translate }}</select-input>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-12">
              <textbox [value]="user.password" class="text-center" [disabled]="true">
                {{ 'label.SURT06.Password' | translate}}
              </textbox>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-12">
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6 col-6">
                  <label class="invisible d-block">ResetPassword </label>
                  <button class="btn btn-thursday btn-block" (click)="resetPassword()"><i class="fas fa-redo-alt"></i>
                    {{'label.SURT06.ResetPassword' | translate}}</button>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-6">
                  <label class="invisible d-block">ResetPassword </label>
                  <button class="btn btn-primary btn-block" (click)="forgetPassword()"><i class="fas fa-envelope"></i>
                    {{'label.SURT06.ForgetPassword' | translate}}</button>
                </div>
              </div>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-12">
              <checkbox formControlName="forceChangePassword">{{ 'label.SURT06.ForceChange' | translate}}</checkbox>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3 col-sm-6 col-6">
              <datepicker formControlName="startEffectiveDate" [max]="userForm.controls.endEffectiveDate.value">
                {{ 'label.SURT06.StartEffectiveDate' | translate }}</datepicker>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-6">
              <datepicker formControlName="endEffectiveDate" [min]="userForm.controls.startEffectiveDate.value">
                {{ 'label.SURT06.EndEffectiveDate' | translate }}</datepicker>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-6">
              <textbox [value]="user.updatedBy" class="text-center" [disabled]="true">{{ 'label.SURT06.UpdatedBy' |
                translate}}
              </textbox>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-6">
              <datepicker [value]="user.updatedDate" [disabled]="true">{{ 'label.SURT06.UpdatedDate' | translate }}
              </datepicker>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3 col-sm-6 col-6">
              <datepicker [value]="user.lastChangePassword" [disabled]="true">
                {{ 'label.SURT06.LastChangePassword' | translate }}</datepicker>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-6">
              <datepicker [value]="user.passwordExpire" [disabled]="true">
                {{ 'label.SURT06.PasswordExpire' | translate }}</datepicker>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-6">
              <checkbox formControlName="active">{{ 'label.SURT06.Active' | translate}}</checkbox>
            </div>
          </div>
        </form>

      </tab>
      <tab heading="{{ 'label.SURT06.Profile' | translate }}">
        <div class="text-right">
          <button type="button" class="btn btn-primary" (click)="addProfile()"><i class="fas fa-plus-circle"></i>
            {{ 'label.ALL.Add' | translate }}</button>
        </div>
        <app-table-client [rows]="user.profiles">
          <ngx-datatable-column prop="profileCode" [width]="140">
            <ng-template ngx-datatable-header-template>
              <label class="datatable-header-cell-wrapper require"> {{'label.SURT06.ProfileCode' | translate}}</label>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div [formGroup]="row.form">
                <select-input [items]="profiles[row.guid]" formControlName="profileCode" [hasLabel]="false"
                  [small]="true"></select-input>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column cellClass="text-center" [sortable]="false" width="80">
            <ng-template ngx-datatable-header-template>
              <label class="datatable-header-cell-wrapper">{{ 'label.ALL.Delete' | translate }}</label>
            </ng-template>
            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <button (click)="removeProfile(row)" class="btn btn-outline-danger btn-sm">
                <i class="far fa-trash-alt"></i>
              </button>
            </ng-template>
          </ngx-datatable-column>
        </app-table-client>

      </tab>
      <tab heading="{{ 'label.SURT06.Permission' | translate }}"
        *ngIf="ss.userType.code == userTypeParam.Employee || ss.userType.code == userTypeParam.Professor">
        <div class="text-right">
          <button type="button" class="btn btn-primary" (click)="addPermission()"><i class="fas fa-plus-circle"></i>
            {{ 'label.ALL.Add' | translate }}</button>
        </div>
        <app-table-client [rows]="user.permissions" [sorts]="[{prop:'companyCode',dir:'asc'}]">
          <ngx-datatable-column prop="companyCode" [width]="140" cellClass="text-center">
            <ng-template let-sort="sortFn" ngx-datatable-header-template>
              <label class="datatable-header-cell-wrapper" (click)="sort()"> {{'label.SURT06.CompanyCode' |
                translate}}</label>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <a [routerLink]="['/su/surt06/permission']" (click)="setUserInfo()"
                [state]="{id: row.id,companyCode:row.companyCode}"> {{ row.companyCode }}</a>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="companyName" [width]="140">
            <ng-template let-sort="sortFn" ngx-datatable-header-template>
              <label class="datatable-header-cell-wrapper" (click)="sort()"> {{'label.SURT06.CompanyName' |
                translate}}</label>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.companyName }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column cellClass="text-center" [sortable]="false" width="80">
            <ng-template ngx-datatable-header-template>
              <label class="datatable-header-cell-wrapper">{{ 'label.ALL.Delete' | translate }}</label>
            </ng-template>
            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <button (click)="removePermission(row)" class="btn btn-outline-danger btn-sm">
                <i class="far fa-trash-alt"></i>
              </button>
            </ng-template>
          </ngx-datatable-column>
        </app-table-client>
      </tab>
    </tabset>
  </div>
</div>