<div class="loading" [@fadeAnimation] *ngIf="ls.isLoading$ | async">
  <div class="spinner-container">
    <div class="cssload-loader">
      <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="265.012" height="313.005" viewBox="0 0 265.012 313.005">
        <g id="Group_1" data-name="Group 1" transform="translate(-41.001 -37.995)">
          <path id="Shape_2" data-name="Shape 2" d="M164.942,47.029c4.5-4.326,10.87-9.217,20.99-9.029s17.242,3.95,26.987,15.048,43.357,64.584,50.975,72.231c6.559,6.584,10.3,12.894,17.991,12.039,5.029-.559,6-27.087,6-27.087s13.493,38.373-9,39.125-48.164-41.006-59.971-60.192C192.3,36.307,175.812,46.276,164.942,47.029Zm-53.974,6.019a55.575,55.575,0,0,1,32.984-9.029c17.068.646,37.669.941,56.973,42.135s62.22,88.219,74.964,96.308,22.3-2.822,23.988-6.019,3-15.048,3-15.048v-6.019s10.12,32.73-6,45.144-32.851-.3-41.98-9.029c-7.871-7.524-55.764-55.107-74.964-96.308-10.87-23.325-24.342-35.795-32.984-39.125C132.341,50.966,110.968,53.048,110.968,53.048ZM65.99,95.183S85.668,66.591,104.971,68.1s30.735,2.069,50.975,33.106S221.727,232.308,254.9,239.644c15.368,1.881,27.384-6.59,29.986-9.029,6.991-6.553,11.994-12.038,11.994-12.038s-5.241,32.145-32.984,42.135c-23.154,4.791-43.292-12.038-50.975-21.067-6.483-7.618-37.327-38.5-56.973-87.279-14.805-31.225-39.16-60.113-53.974-66.212C88.782,80.917,65.99,95.183,65.99,95.183ZM45,146.346S52.309,110.8,71.987,113.24s38.606,23.513,44.978,33.106,37.482,51.163,56.973,96.308c14.618,29.344,45.245,41.452,56.973,39.125,16.117-3.2,32.984-12.038,32.984-12.038a89.466,89.466,0,0,1-26.987,21.067c-16.248,7.985-38.745,1.257-47.977-3.01-18.678-8.634-23.988-19.562-44.978-54.173-17.617-33.106-53.374-81.405-65.968-90.288C62.756,132.6,56.176,138.972,45,146.346ZM92.977,351s3.57-33.04,29.986-39.125c15.243-3.511,34.33-4.646,41.98-12.039,5.352-5.172-11.994-15.048-11.994-15.048s26.487,6.019,26.987,18.058-23.988,18.309-38.981,21.067c-16.372,3.012-24.738,3.762-35.983,12.038C97.975,344.479,92.977,351,92.977,351Z" fill="#1c96d5"/>
          <path id="Shape_1" data-name="Shape 1" d="M157.19,50c2.746-2.812,6.991-6,8.988-6-2.2,8.827,1.269,16.619,3,18,15.813,12.2,28.351,13.869,53.929,18,25.937,1.436,33.895,2.548,50.933,9,6.02,2.838,13.523,11.166,14.98,24-1,0-4.993-6-5.992-6-14.729-12.974-40.412-12.714-62.917-15-22.4-2.275-41.628-7.116-50.933-12-4.743-2.49-12.016-6.295-14.98-15C154.194,57.032,155.1,54.124,157.19,50Zm-53.929,6c5.087-3.375,12.983-6,14.98-6-10.664,10.626-10.344,23.634-5.992,30,10.7,10.081,26.988,23.157,71.9,30,34.469,2.984,90.3-6.53,110.853,24,4.027,5.043,4.905,12.43,5.992,21-1.56-1.687-2-3-3-3-18.81-25.832-53.53-19.581-98.869-21-49.662-1.554-109.184-11.144-104.861-54,.631-5.969,1.063-6.822,3-12C98.741,61.97,98.744,60.878,103.261,56ZM67.309,89c.947,5.156-1.118,16.127,3,30,10.937,20.477,36.374,34.873,92.877,36,72.125,3.054,136.972-1.229,137.818,51-2.152,9.986-5.239,16.329-8.988,21,0-12.226-3.207-21.089-5.992-24-11.66-14.889-50.469-17.819-122.838-21-26.813-.726-68.115-3.348-86.885-18-6.61-5.16-12.333-9.332-17.976-24C51.592,118.779,57.424,99.959,67.309,89ZM43.341,143c1.194,4.081,4.007,18.433,5.992,21,22.576,50.311,89.737,43.833,155.794,51,18.3,1.986,53.057,2.313,65.913,27,2.628,3.884,4.365,5.525,3,15-2.1,4.984-1.655,3.324-3,6a83.8,83.8,0,0,1-5.992,9c-3.065,2.332-7.989,6-8.988,6,3.9-7.035,3.382-15.956,0-21-11.261-14.421-80.953-22.417-137.818-24C68.787,227.152,31.054,199.763,43.341,143Zm11.984,66c1.943,2.581,4.007,12.433,5.992,15,6.323,17.572,28.42,31.641,53.929,36,35.74,6.107,49.292,6.252,62.917,12,29.015,12.24,11.574,27.21,8.988,30-6.73,5.337-11.472,6.776-14.98,9,4.329-7.4,5.909-6.033,5.992-12-4.173-7.5-9.413-6.271-14.98-9-20.985-10.288-45.22-9.55-62.917-15-22.138-7.586-34.742-22.232-38.949-30C58.071,238.813,54.451,223.249,55.325,209Z" fill="#6e328a"/>
        </g>
      </svg>
      
      <div class="cssload-inner cssload-one"></div>
      <div class="cssload-inner cssload-two"></div>
      <div class="cssload-inner cssload-three"></div>
    </div>
  </div>
</div>