<span *ngIf="calendarView === CalendarView.Month" [innerHTML]="title" class="cal-event-title"></span>
<div *ngIf="calendarView !== CalendarView.Month" class="cal-event-title text-center" [style.color]="titleColor">
    <span *ngIf="event.subjectCode" [innerHTML]="event.subjectCode" [style.font-weight]="500"></span>
    <span *ngIf="event.sectionCode" [innerHTML]="' (' + event.sectionCode + ')'" [style.font-weight]="500"></span>
    <span *ngIf="event.reserveObjective == 'A'" [innerHTML]="event.title" [style.font-weight]="500"></span>
    <br>
    <span [innerHTML]="event.startTime + '-' + event.endTime"></span>
</div>