<label *ngIf="hasLabel"><ng-content></ng-content><span *ngIf="required" class="text-danger"> *</span></label>
<input (keyup.enter)="onEnter($event.target.value);" id="focus-input" onfocus="this.select()" type="text" #textBox  [placeholder]="placeholder" [disabled]="disabled" class="form-control text-right" [ngClass]="class"  [class.is-invalid]="hasErrors" [class.form-control-sm]="small" (blur)="onTouched()">
<div class="invalid" *ngIf="hasErrors">
  <div *ngIf="control.hasError('required') ">
      กรุณาระบุ
  </div>
  <div *ngIf="control.hasError('min') ">
      จำนวนเงินต้องมากกว่าหรือเท่ากับ {{ control.errors.min.min | number : '0.2-2' }} {{ 'label.ALL.Baht' | translate }}
  </div>
  <div *ngIf="control.hasError('max') ">
      กรุณาระบุจำนวนไม่เกิน {{ control.errors.max.max | number : '0.2-2'}}
  </div>
</div>
