<app-modal (onClose)="onClose()" header="{{ 'label.FNDT02.LookupDiscount' | translate }}">
    <div class="row">
        <div class="col-12">
            <app-card>
                <div class="card-content">
                    <app-table-client #roomRef [rows]="items" [rowIdentity]="identity" [select]="selectedList">
                        <ngx-datatable-column [cellClass]="'text-center'" [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                            <ng-template ngx-datatable-header-template let-value="value"
                                let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row"
                                let-value="value" let-isSelected="isSelected"
                                let-onCheckboxChangeFn="onCheckboxChangeFn">
                                <checkbox [value]="isSelected"
                                    (afterChange)="onSelectMultiple(row,$event);onCheckboxChangeFn($event)">
                                </checkbox>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column cellClass="text-left align-self-center">
                            <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                <label class="datatable-header-cell-wrapper">{{ 'label.FNDT02.LookupDiscount' |translate }}</label>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.discountName}} <ng-container *ngIf="!!row.discountType">( {{ 'label.FNDT02.Discount' |translate }}  <ng-container *ngIf="row.discountType != 'M'">{{ row.discountRate | number:'1.2' }}</ng-container> {{ row.discountTypeName }} )</ng-container>
                                <number placeholder="0.00"  *ngIf="row.discountType == 'M'" [(ngModel)]="row.discountRate"></number>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-row-detail rowHeight="auto">
                            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                                <ul class="discount__details">
                                    <li *ngFor="let d of row.discountDetails;">
                                        {{ 'label.FNDT02.Discount' |translate }} {{d.itmName}} {{d.discountDetRate}} {{d.discountType}}
                                    </li>
                                </ul>
                            </ng-template>
                        </ngx-datatable-row-detail>
                        <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
                            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                            <button *ngIf="row.discountType == null" class="btn btn-link btn-sm" (click)="row.discountType == null ? roomRef.toggleExpandRow(row) : false;">
                                <i class="fas fa-chevron-right" [class.fa-rotate-90]="expanded"></i>
                            </button>
                            </ng-template>
                        </ngx-datatable-column>
                    </app-table-client>
                    <div class="text-center mt-3">
                        <button (click)="onAccept()" class="btn btn-primary"><i class="fas fa-plus-circle"></i>&nbsp;{{'label.ALL.Add' | translate }}</button>
                    </div>
                </div>
            </app-card>
        </div>
    </div>
</app-modal>