<form [formGroup] = "form">
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col"><h3>{{ 'label.FNRT25.AccountSetting' | translate }}</h3></div>
        </div>
        <div class="row">
            <div class="col">
                <select-input formControlName="costCenterCode" [items]="master.costCenters">
                    {{ 'label.FNRT25.CostCenterCode' | translate }}
                </select-input>
            </div> 
        </div>
        <div class="row">
            <div class="col">
                <select-input formControlName="budgetCode" [items]="master.budgets">
                    {{ 'label.FNRT25.BudgetCode' | translate }}
                </select-input>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <select-input formControlName="fundCenterCode" [items]="master.fundCenters">
                    {{ 'label.FNRT25.FundCenterCode' | translate }}
                </select-input>
            </div>
        </div>
        <div class="row">
            <div class="col pt-2"><button type="button" (click)="add()" class="btn btn-primary">{{ 'label.ALL.Ok' | translate }}</button></div>
        </div>
    </div>   
</form>
<button type="button" (click) = "close()" style="position: absolute; top: 0px;left: 101%;" class="btn btn-danger">X</button>   