<ng-template #defaultTemplate let-weekEvent="weekEvent">
  <div class="cal-event" [ngStyle]="{ backgroundColor: color.primary, borderColor: color.secondary }">
    <calendar-reserve-title [event]="weekEvent.event" view="week" [calendarView]="calendarView"
      [titleColor]="color.title">
    </calendar-reserve-title>
  </div>
</ng-template>

<ng-template [ngTemplateOutlet]="customTemplate || defaultTemplate" [ngTemplateOutletContext]="{weekEvent: weekEvent}">
</ng-template>