<toolbar>
  <button class="btn btn-primary" (click)="save()" [disabled]="saving">
    <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
    <i class="fas fa-save" [hidden]="saving"></i> {{ 'label.ALL.Save' | translate}}</button>
</toolbar>
<h4>{{ 'label.DBRT21.settingStructureProgram' | translate}}</h4>
<div class="row">
  <div class="col">
    <app-card header="{{ 'label.DBRT21.detail' | translate}}">
      <div class="card-content">
        <div class="col">
          <div class="col">
            <form [formGroup]="dbrt21Form" [class.validated]="submited">
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  <select-input [items]="master.facCode" placeholder="{{ 'label.ALL.PleaseSelect' | translate}}"
                    formControlName="facCode">
                    {{ 'label.DBRT21.facName' | translate}}
                  </select-input>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <select-input [items]="master.programCode" placeholder="{{ 'label.ALL.PleaseSelect' | translate}}"
                    formControlName="programCode">
                    {{ 'label.DBRT21.programName' | translate}}
                  </select-input>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  <select-input [items]="master.costCenterCode" formControlName="costCenterCode">
                    {{ 'label.DBRT21.CostCode' | translate}}
                  </select-input>
                </div>
                <div class="form-group col-md-3 col-sm-3">
                  <checkbox formControlName="active">{{ 'label.DBRT21.active' | translate}}</checkbox>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>