<h4>{{ 'label.SURT08.ProgramName' | translate}}</h4>
<div class="row">
  <div class="col">
    <app-card>
      <div class="card-content">
        <div class="row">
          <div class="col-6">
            <app-search [value]="keyword" (search)="enter($event)"
              placeholder="{{ 'label.SURT08.SearchPlaceholder' | translate }}">
            </app-search>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <app-table [rows]="templates" [page]="page" (onTableEvent)="search()">
              <ngx-datatable-column prop="templateCode" width="150" [cellClass]="'text-center'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper"
                    (click)="sort()">{{ 'label.SURT08.TemplateCode' | translate}}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a [routerLink]="['detail']" [state]="{code: row.templateCode}">{{ row.templateCode }}</a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="templateName" width="200">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper"
                    (click)="sort()">{{ 'label.SURT08.TemplateName' | translate}}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.templateName }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="subject" width="200">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper"
                    (click)="sort()">{{ 'label.SURT08.Subject' | translate}}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.subject }}
                </ng-template>
              </ngx-datatable-column>
            </app-table>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>