<toolbar>
  <button class="btn btn-primary" (click)="util.focusInvalid(emailRef); save()">
    <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
    <i class="fas fa-save" [hidden]="saving"></i> {{ 'label.ALL.Save' | translate }}</button>
</toolbar>

<h4>{{ 'label.SURT08.ProgramName' | translate }}</h4>
<div class="row">
  <div class="col">
    <app-card header="{{ 'label.SURT08.EmailTemplate' | translate }}">
      <div class="card-content">
        <form #emailRef [formGroup]="emailTemplateForm">
          <div class="form-row">
            <div class="form-group col-md-3 col-sm-6">
              <textbox formControlName="emailTemplateCode" class="text-center">
                {{ 'label.SURT08.EmailTemplateCode' | translate }}
                <div class="invalid-pattern">
                  {{ 'message.STD00037' | translate }}
                </div>
              </textbox>
            </div>
            <div class="form-group col-md-9 col-sm-6">
              <textbox formControlName="emailTemplateName">{{ 'label.SURT08.EmailTemplateName' | translate }}
              </textbox>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <textbox formControlName="subject">{{ 'label.SURT08.Subject' | translate }}
              </textbox>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group  col-md-12">
              <textbox formControlName="description">{{ 'label.SURT08.Description' | translate }}
              </textbox>
            </div>
          </div>
        </form>
      </div>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-card header="{{ 'label.SURT08.Detail' | translate }}">
      <div class="card-content">
        <form #emailContentRef [formGroup]="emailTemplateForm">
          <editor [init]="config" formControlName="content"></editor>
        </form>
      </div>
    </app-card>
  </div>
</div>