<h4>Student Life Cycle Management</h4>
<br/>
<div *ngIf="master.enrollmentDashBoard">
    <div class="row">
        <div class="col-md-12">
            <app-card header="{{ 'label.SUMT00.SearchNewStudentEnrollment' | translate }}">
                <div class="card-content">
                    <form [formGroup]="graphNewStudentForm">
                        <div class="form-row">
                            <div class="form-group col-md-2 col-sm-6">
                                <select-input [small]="true" [items]="yearGraph" placeholder="{{ 'label.ALL.All' | translate }}" formControlName="year">{{ 'label.SUMT00.Year' | translate }}</select-input>
                            </div>
                            <div class="form-group col-md-2 col-sm-6">
                                <select-input [small]="true" [items]="master.retrospectiveYears" placeholder="{{ 'label.ALL.All' | translate }}" formControlName="retrospectiveYear">{{ 'label.SUMT00.RetrospectiveYears' | translate }}</select-input>
                            </div>
                            <div class="form-group col-md-2 col-sm-6">
                                <select-input [small]="true" [items]="master.typeLevels" placeholder="{{ 'label.ALL.All' | translate }}" formControlName="typeLevel">{{ 'label.SUMT00.TypeLevel' | translate }}</select-input>
                            </div>
                            <div class="form-group col-md-4 col-sm-6">
                                <select-input [small]="true" [items]="master.statuses" placeholder="{{ 'label.ALL.All' | translate }}" formControlName="status">{{ 'label.SUMT00.StudentStatus' | translate }}</select-input>
                            </div>
                            <div class="form-group col-md col-sm">
                                <label class="mt-4 mb-3"></label>
                                <button type="button" class="btn btn-primary" (click)="searchCharts()" ><i
                                    class="fas fa-search"></i> {{ 'label.ALL.Search' | translate }}</button>
                            </div>
                        </div>
                    </form>
                    <br />
                    <div *ngIf="newStudentBarChartData.length > 0" class="col-md-12">
                        <div class="chart"  style="position: relative; height:40vh;">
                            <canvas baseChart
                                #partsBaseChart="base-chart"
                                [datasets]="newStudentBarChartData"
                                [labels]="newStudentBarChartLabels"
                                [chartType]="horizonBarChartType"
                                [options]="newStudentBarChartOptions"                  
                                [legend]="true"
                                [colors]="newStudentBarChartColors">
                            </canvas>
                        </div>
                    </div>
                </div>
            </app-card>           
        </div>
    </div>  

    <div class="row">
        <div class="col-md-6">
            <app-card header="{{ 'label.SUMT00.SearchStudentFacEnrollment' | translate }}">
                <div class="card-content">
                    <form [formGroup]="facStudentForm">
                        <div class="form-row">
                            <div class="form-group col-md-3 col-sm-6">
                                <select-input [small]="true" [items]="yearGraph" placeholder="{{ 'label.ALL.All' | translate }}" formControlName="year">{{ 'label.SUMT00.Year' | translate }}</select-input>
                            </div>
                            <div class="form-group col-md-3 col-sm-6">
                                <select-input [small]="true" [items]="master.retrospectiveYears" placeholder="{{ 'label.ALL.All' | translate }}" formControlName="retrospectiveYear">{{ 'label.SUMT00.RetrospectiveYears' | translate }}</select-input>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <select-input [small]="true" [items]="master.statuses" placeholder="{{ 'label.ALL.All' | translate }}" formControlName="status">{{ 'label.SUMT00.StudentStatus' | translate }}</select-input>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-sm-6">
                                <select-input [small]="true" [items]="master.typeLevels" placeholder="{{ 'label.ALL.All' | translate }}" formControlName="typeLevel">{{ 'label.SUMT00.TypeLevel' | translate }}</select-input>
                            </div>
                                <div class="form-group col-md col-sm">
                                <label class="mt-4 mb-3"></label>
                                <button type="button" class="btn btn-primary" (click)="searchFacBarCharts()" ><i
                                    class="fas fa-search"></i> {{ 'label.ALL.Search' | translate }}</button>
                            </div>
                        </div>
                    </form>
                    <br />
                    <div *ngIf="facBarChartData.length > 0" class="col-md-12">
                        <div class="chart"  style="position: relative; height:50vh;">
                            <canvas baseChart
                                #partsBaseChart="base-chart"
                                [datasets]="facBarChartData"
                                [labels]="facBarChartLabels"
                                [chartType]="verticalBarChartType"
                                [options]="facBarChartOptions"                  
                                [legend]="true"
                                [colors]="facBarChartColors">
                            </canvas>
                        </div>
                    </div>
                </div>
            </app-card>         
        </div>
        <div class="col-md-6">
            <app-card header="{{ 'label.SUMT00.SearchStudentProgramEnrollment' | translate }}">
                <div class="card-content">
                    <form [formGroup]="programStudentForm">
                        <div class="form-row">
                            <div class="form-group col-md-3 col-sm-6">
                                <select-input [small]="true" [items]="yearGraph" placeholder="{{ 'label.ALL.All' | translate }}" formControlName="year">{{ 'label.SUMT00.Year' | translate }}</select-input>
                            </div>
                            <div class="form-group col-md-3 col-sm-6">
                                <select-input [small]="true" [items]="master.retrospectiveYears" placeholder="{{ 'label.ALL.All' | translate }}" formControlName="retrospectiveYear">{{ 'label.SUMT00.RetrospectiveYears' | translate }}</select-input>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <select-input [small]="true" [items]="master.statuses" placeholder="{{ 'label.ALL.All' | translate }}" formControlName="status">{{ 'label.SUMT00.StudentStatus' | translate }}</select-input>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3 col-sm-6">
                                <select-input [small]="true" [items]="master.typeLevels" placeholder="{{ 'label.ALL.All' | translate }}" formControlName="typeLevel">{{ 'label.SUMT00.TypeLevel' | translate }}</select-input>
                            </div>
                            <div class="form-group col-md-7 col-sm-6">
                                <select-input [small]="true" [items]="master.facs" placeholder="{{ 'label.ALL.All' | translate }}" formControlName="facCode">{{ 'label.SUMT00.Fac' | translate }}</select-input>
                            </div>
                            <div class="form-group col-md col-sm">
                                <label class="mt-4 mb-3"></label>
                                <button type="button" class="btn btn-primary" (click)="searchProgramBarCharts()" ><i
                                    class="fas fa-search"></i> {{ 'label.ALL.Search' | translate }}</button>
                            </div>
                        </div>
                    </form>
                    <br />
                    <div *ngIf="programBarChartData.length > 0" class="col-md-12">
                        <div class="chart" style="position: relative; height:50vh;">
                            <canvas baseChart
                                #partsBaseChart="base-chart"
                                [datasets]="programBarChartData"
                                [labels]="programBarChartLabels"
                                [chartType]="verticalBarChartType"
                                [options]="programBarChartOptions"                  
                                [legend]="true">
                            </canvas>
                        </div>
                    </div>
                </div>
            </app-card>      
        </div>
    </div>
</div>