span.link {
    cursor: pointer !important;
    color: #53a7c5 !important; // font-weight: bold;
    transition: color ease 0.5s;
    &:hover {
      color: #167495 !important;
      text-decoration: underline;
    }
}