<label *ngIf="hasLabel">
  <ng-content></ng-content><span *ngIf="required" class="text-danger"> *</span>
</label>
<div class="custom-file" [class.custom-file-sm]="small">
  <input type="file" #fileInput [disabled]="disabled" class="custom-file-input"
    [class.is-invalid]="hasErrors || errors.length > 0" id="customFile" (change)="add($event.target.files)"
    lang="{{this.lang.language}}" [accept]="fileType">
  <label class="custom-file-label mb-0" for="customFile">
    {{ content.name }}
  </label>
  <button (click)="open()" *ngIf="uploaded" type="button" class="btn btn-link rounded-0 file-link"
    [style.right.px]="disabled ? 53 : 79" [style.padding-left.px]="disabled ? 5 : 10"
    [style.padding-right.px]="disabled ? 10 : 5"><i class="fas fa-paperclip"></i></button>
  <button (click)="remove()" *ngIf="uploaded && !disabled" type="button" class="btn btn-link rounded-0 remove"><i
      class="fas fa-times"></i></button>
</div>
<div class="invalid" *ngIf="errors.length > 0">
  <span *ngFor="let error of errors">
    {{ error }}
  </span>
</div>
<div class="invalid" *ngIf="hasErrors">
  <div *ngIf="control.hasError('required') ">
     {{'message.STD00036' | translate}}
  </div>
</div>