<form [formGroup] = "form">
  <div class="container-fluid p-4">
    <div class="row">
      <div class="col"><h3>{{ 'label.FNDT02.Custom' | translate }}</h3></div>
    </div>
    <div class="row">
      <div class="col-6">
        <textbox formControlName="firstName">{{ 'label.FNDT02.FirstName' | translate }}</textbox>
      </div>
      <div class="col-6">
        <textbox formControlName="lastName">{{ 'label.FNDT02.LastName' | translate }}</textbox>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <textbox formControlName="idCard">{{ 'label.FNDT02.IdCard' | translate }}</textbox>
      </div> 
    </div>
    <div class="row">
      <div class="col">
        <select-input formControlName="educationTypeLevel" [items]="educationTypeLevel">
          {{ 'label.FNDT02.EducationTypeLevel' | translate }}
        </select-input>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <select-input formControlName="facCode" [items]="fac">
          {{ 'label.FNDT02.FacCode' | translate }}
        </select-input>
      </div>
    </div>
    <div class="row">
      <div class="col pt-2"><button type="button" (click)="add()" class="btn btn-primary">{{ 'label.ALL.Add' | translate }}</button></div>
    </div>
  </div>   
</form>
<button type="button" (click) = "close()" style="position: absolute; top: 0px;left: 101%;" class="btn btn-danger">X</button>   