@import "src/theme/theme-variables";
:host {
    display: block;
    .item {
        border-radius: 8px;
        background-color: $white;
        color: $green;
        text-align: center;
        position: relative;
        margin-bottom: 3em;
        cursor: pointer;
        .name {
            position: absolute;
            bottom: -36%;
            color: $white;
            height: 40px;
        }
        &.disabled {
            cursor: not-allowed;
            color: $gray-600;
        }
    }
}