<div class="container-fluid">
    <div class="row">
        <div class="item col-2 d-flex justify-content-center align-items-center mx-2 p-4" *ngFor="let item of items" (click) = "collect(item.receiptTypeCode, item.receiptTypeName);" [class.disabled] = "isConnected == false && item.receiptTypeCode != fnPosReceiveTypes.get('Cash') && item.receiptTypeCode != fnPosReceiveTypes.get('Transfer')">
          <i class="fas {{item.dispPosIcon}} fa-5x"></i>
          <span class="name">{{item.receiptTypeName}}</span>
        </div>
    </div>
</div>
<swal
  #creditSwal
  [html]="creditTemplate"
  [showCancelButton]= "false"
  [showConfirmButton]= "false"
  [allowOutsideClick]= "false"
  [allowEscapeKey] = "false"
  [showLoaderOnConfirm] = "true"
></swal>
<swal
  #qrcodeSwal
  [html]="qrTemplate"
  [showCancelButton]= "true"
  [showConfirmButton]= "false"
  [allowOutsideClick]= "false"
  [allowEscapeKey] = "false"
  [showLoaderOnConfirm] = "true"
></swal>