<nav class="navbar navbar-fixed-top navbar-light">
  <button *ngIf= "showBack" (click) = "back();" type="button" class="ml-2 btn btn-primary">
      <i class="fas fa-step-backward"></i>
      <span class="d-none d-sm-inline">{{ 'label.ALL.Back' | translate }}</span>
  </button>
  <ul class="nav nav-pills ml-auto">
    <li class="nav-item">
      <a class="nav-link" [class.disabled]="i18n.language === thai" [routerLink]="['/empty/lang', thai]"
        [class.active]="i18n.language === thai">ไทย</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.disabled]="i18n.language === eng" [routerLink]="['/empty/lang', eng]"
        [class.active]="i18n.language === eng">eng</a>
    </li>
  </ul>
  <ul class="nav d-none d-md-flex">
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)" (click)="signOut()"><i class="fas fa-sign-out-alt"></i><span
          class="d-none d-md-inline"> Logout</span></a>
    </li>
  </ul>
</nav>