@import "src/theme/theme-variables";
:host {
    display: block;
    background-color: $main;
    padding-bottom: 5px;
    overflow: hidden;
    min-height: 64px;
    width: 100%;
}

.navbar-fixed-top {
    position: relative;
    top: 5px;
    width: 100%;
    background: #fff;
    z-index: 999;
    border: 1px solid #eee;
    line-height: 35px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    .nav .nav-link {
        color: #707070;
        font-weight: 500;
    }
    .nav-pills .nav-link {
        color: #707070;
        padding: 0.2rem 0.5rem;
        &.active {
            color: white;
            background-color: $main;
        }
        &.disabled {
            pointer-events: none;
            cursor: default;
        }
    }
}

.navbar {
    padding: 0;
    .navbar-brand {
        padding: 0;
        .logo-title {
            padding: .8rem 0rem .4rem .6rem;
            .title {
                color: #0C6FC1;
                font-size: 13px;
                font-weight: 600;
                line-height: .3rem;
            }
            small {
                font-size: 11px;
                font-weight: 400;
                color: #777777;
            }
        }
        &>img {
            height: 30px;
            margin-top: 10px;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 52px;
    padding: 0 10px;
    span {
        position: relative;
        display: block;
        width: 100%;
        height: 2.8px;
        background: #707070;
        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0px;
            width: 100%;
            height: 2.8px;
            background-color: #707070;
            backface-visibility: hidden;
        }
        &:before {
            top: -5px;
        }
        &:after {
            top: 5px;
        }
    }
}

.dropdown-toggle::after {
    display: none;
}

.nav-item.dropdown .fa-xs {
    font-size: .5rem;
}

.menu-active {
    color: white;
    background-color: $main;
}

.mat-menu-item.menu-active:hover {
    background-color: $main;
}