<form [formGroup]="paymentForm" >
  <div class="p-4 d-flex flex-column align-items-start">
    <div class="d-flex align-items-center w-100">
      <h3 class="title" style="flex: 1 1 auto;"><i class="fas fa-credit-card"></i> {{ 'label.FNDT02.ReceiveWithDebitCredit' | translate }}</h3>
    </div>
    <div class="my-4 w-100">
      <div class="mb-2">
        <select-input [customTemplate]="true" [optionTemplate]="sectionTemplate" formControlName = "cardProvider" [items]="resolved.master.cardTypes || []" placeholder="{{ 'label.ALL.PleaseSelect' | translate }}">
          {{ 'label.FNDT02.CardProvider' | translate }}
          <ng-template #sectionTemplate let-item="item" let-search="search">
            <div [ngOptionHighlight]="search" class="ng-option-label" container="body">
              <span class = "card-icon {{item.image}} small mr-2"></span>{{item.text}}
            </div>
          </ng-template>
        </select-input>
        <div style="float: right;"><i class="fab fa-cc-visa"></i>&nbsp;<i class="fab fa-cc-mastercard"></i>&nbsp;<i class="fab fa-cc-jcb"></i></div>
      </div>
      <div class="mb-2">
        <select-input [customTemplate]="true" [optionTemplate]="bankTemplate" formControlName = "bank" [items]="resolved.master.banks || []" placeholder="{{ 'label.ALL.PleaseSelect' | translate }}">
          {{ 'label.FNDT02.Bank' | translate }}
          <ng-template #bankTemplate let-item="item" let-search="search">
            <div [ngOptionHighlight]="search" class="ng-option-label" container="body">
              <span class = "omise-logo {{item.image}} small mr-2"></span>{{item.text}}
            </div>
          </ng-template>
        </select-input>
      </div>
      <!-- <pos-number class="w-100" [class] = "'pos-big-text text-center'" [hasLabel] = "true" formControlName = "amount">
        {{ 'label.FNDT02.ReceiveAmt' | translate }}
      </pos-number> -->
    </div>
    <button type="button" (click) = "complete();" class="w-100 submit-btn btn btn-success" >{{ 'label.FNDT02.Receive' | translate }} {{ netAmt | number : '1.2'}} {{ 'label.ALL.Baht' | translate }}</button>   
  </div>
</form>
<button type="button" (click) = "close();" style="position: absolute; top: 0px;left: 101%;" class="btn btn-danger">X</button>   
  