<h4>{{ 'label.DBRT04.programName' | translate}}</h4>
<div class="row">
   <div class="col">
     <app-card>
        <div class="card-content">
            <div class="row">
                <div class="col-6">
                    <app-search [value]="keyword" (search)="enter($event)" placeholder="{{ 'label.DBRT04.searchPlaceholder' | translate}}"></app-search>
                </div>
                <div class="col-6 text-right">
                    <button class="btn btn-primary" (click)="add()"><i class="fas fa-plus-circle"></i> 
                      {{ 'label.ALL.Add' | translate}}</button>
                 </div>
            </div>
            <br>
            <div class="row">
               <div class="col">
                  <app-table [rows]="district" [page]="page" (onTableEvent)="search()">
                      <ngx-datatable-column prop="districtNameTha" width="200">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                          <label class="datatable-header-cell-wrapper" (click)="sort()">
                            {{ 'label.DBRT04.districtNameTha' | translate}}
                          </label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <a [routerLink]="['detail']" [state]="{code: row.districtCode}">{{row.districtNameTha}}</a>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column prop="districtCodeMua" width="100"  [cellClass]="'text-center'">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                          <label class="datatable-header-cell-wrapper" (click)="sort()">
                            {{ 'label.DBRT04.districtCodeMua' | translate}}
                          </label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.districtCodeMua}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column prop="districtNameEng" width="200">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                          <label class="datatable-header-cell-wrapper" (click)="sort()">
                            {{ 'label.DBRT04.districtNameEng' | translate}}
                          </label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                           {{row.districtNameEng}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column prop="provinceId" width="100">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                          <label class="datatable-header-cell-wrapper" (click)="sort()">
                            {{ 'label.DBRT04.province' | translate}}
                          </label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                           {{row.provinceId}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column prop="active" width="100" [cellClass]="'text-center'">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                          <label class="datatable-header-cell-wrapper" (click)="sort()">
                            {{ 'label.DBRT04.active' | translate}}
                          </label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <i *ngIf="row.active" class="fas fa-check"></i>
                        </ng-template>
                      </ngx-datatable-column>
            
                      <ngx-datatable-column [cellClass]="'text-center'" [sortable]="false" width="100">
                        <ng-template ngx-datatable-header-template>
                          <label class="datatable-header-cell-wrapper">
                            {{ 'label.ALL.Delete' | translate}}
                          </label>
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          <button (click)="remove(row.districtId,row.rowVersion)" class="btn btn-outline-danger btn-sm">
                            <i class="far fa-trash-alt"></i>
                          </button>
                        </ng-template>
                      </ngx-datatable-column>
                    </app-table>
               </div>
            </div>
        </div>
     </app-card>
   </div>
</div>