@import "src/theme/theme-variables";
:host {
    display: block;
    .item {
        border-radius: 8px;
        background-color: $white;
        color: $green;
        text-align: center;
        position: relative;
        margin-bottom: 3em;
        .name {
            position: absolute;
            bottom: -20%;
            color: $white;
        }
    }
}