<div class="container-fluid">
    <div class="row">
        <div class="item col-2 d-flex justify-content-center align-items-center mx-2 p-4" *ngFor="let item of items" (click) = "export(item.exportType);">
            <i [attr.class]="item.icon"></i>
            <span class="name">{{item.exportName | translate }}</span>
        </div>
    </div>
</div>