<form [formGroup]="paymentForm" >
  <div class="p-4 d-flex flex-column align-items-start">
    <div class="d-flex align-items-center w-100">
      <h3 class="title" style="flex: 1 1 auto;"><i class="fas fa-qrcode"></i> {{ name | translate }}</h3>
    </div>
    <div class="my-4 w-100">
      <div class="mb-2">
        <areabox [small] = "true" formControlName = "description" placeholder="{{ 'label.ALL.Description' | translate }}">{{ 'label.ALL.Description' | translate }}</areabox>
      </div>
      <pos-number type="button" (enter) = "complete();" class="w-100" [class] = "'pos-big-text text-center'" [hasLabel] = "true" formControlName = "amount">
        {{ 'label.FNDT02.ReceiveAmt' | translate }}
      </pos-number>    
    </div>
    <button type="button" class="w-100 submit-btn btn btn-success" (click) = "complete();">{{ 'label.ALL.Ok' | translate }}</button>   
  </div>
</form>
<button (click) = "close()" style="position: absolute; top: 0px;left: 101%;" class="btn btn-danger">X</button>   



