<ng-template [ngIf]="!!details.billNo || !!details.templateId" [ngIfElse]="elseBlock"> 
    <div class="invoice-wrapper d-flex align-items-center p-2">
        <div *ngIf="state === 'MAIN'">
            <button (click) = "clear(); $event.stopPropagation()" class="btn btn-danger"><i class="fas fa-times"></i></button>
        </div>
        <div class="flex-grow-1 px-2 mx-2">
            <h4 class="invoice-no d-block p-0 m-0 color-success">
                {{details.billNo}}
            </h4>
            <div class="invoice-name">{{details.billName}}</div>
        </div>
        <h4 class="d-block p-0 m-0 color-success">{{details.netAmt | number:'0.2-2' }} {{ 'label.ALL.Baht' | translate }}</h4>     
    </div>
    <ul class="invoice-item mt-2 py-2">
        <li *ngFor="let item of details.items">
            <span class="name">{{item.itmName}}</span>
            <span class="amount">{{item.transAmt | number:'0.2-2' }} {{ 'label.ALL.Baht' | translate }}</span>
        </li>
        <li style="list-style: none;">
            <span class="amount"><b>{{ 'label.FNDT02.TotalAmount' | translate }} {{details.grossAmt | number:'0.2-2' }} {{ 'label.ALL.Baht' | translate }}</b></span>
        </li>
    </ul>
    <section *ngIf="!!details.promotions" class="discount mb-3" [hidden]="state !== 'MAIN' && (!!details.promotions && details.promotions.length == 0)">
        <h4 class="title">{{ 'label.FNDT02.DiscountPromotion' | translate }}</h4>
        <ul class="invoice-item mt-2 py-2 pl-2" style="list-style: none;">
            <li class="clearfix" *ngFor="let item of details.promotions; let i = index;">
                <span (click) = "delDiscount(i, item);" *ngIf="item.canDelete == true && state === 'MAIN'" class="action-btn mr-2"><i class="fas fa-minus-circle text-danger"></i> </span>
                <span class="name">{{item.discountCode}} - {{item.discountName}}</span>
                <span class="amount">{{item.discountAmt | number:'0.2-2' }} {{ 'label.ALL.Baht' | translate }}</span>
            </li>
            <li *ngIf="details.promotions.length > 0"  style="list-style: none;">
                <span class="amount"><b>{{ 'label.FNDT02.TotalAmount' | translate }} {{details.discountAmt | number:'0.2-2' }} {{ 'label.ALL.Baht' | translate }}</b></span>
            </li>
        </ul>
        <button *ngIf="state === 'MAIN'" (click) = "addDiscount();" class="d-block btn btn-primary w-100"><i class="fas fa-plus"></i> {{ 'label.FNDT02.AddDiscount' | translate }}</button>
    </section>
    <section class="fine">
        <h4 class="title">{{ 'label.FNDT02.FineAmount' | translate }}</h4>
        <ul class="items-wrapper mt-2 py-2">
            <ng-template [ngIf]="!!details.fine" [ngIfElse]="finelseBlock"> 
                <li>{{ details.fine | number:'0.2-2' }} {{ 'label.ALL.Baht' | translate }}</li>
            </ng-template>
            <ng-template #finelseBlock>
                <li>
                    <span class="notfound">ไม่มีค่าปรับ</span>
                </li>
            </ng-template>            
        </ul>
    </section>
    <section *ngIf="state === 'BALANCE'" class="fine">
        <h4 class="title">{{ 'label.FNDT02.ReceiveItems' | translate }}</h4>
        <ul class="items-wrapper mt-2 py-2">
            <li *ngFor="let item of details.receives; let i = index;">ชำระด้วย {{ item.receiveTypeName }} {{item.bankCode}} {{item.cardNo}} {{ item.receiveAmt + item.feeAmt | number:'0.2-2' }} {{ 'label.ALL.Baht' | translate }}</li>          
        </ul>
    </section>
</ng-template>
<ng-template #elseBlock>
    <div class="d-flex justify-content-center align-items-center flex-column" style="height: 100%;">
        <i class="fas fa-list fa-7x mb-2" style="color: #ced4da;"></i>
        {{ 'label.ALL.DataNotFound' | translate }}
    </div>
</ng-template>  
