:host {
    display: block;
}
.customer-container {
    position: relative;
    z-index: 1000;
    > .customer-wrapper {
        border-bottom: 1px solid #cacaca;
        background-color: #fff;
        position: relative;
        z-index: 950;
        border-radius: 5px;
        cursor: pointer;
        .picture {
            position: relative;
            height: 45px;
            width: 45px;
            overflow: hidden;
            border-radius: 5px;
            background-color: #dbdbdb;
            > img {
                position: absolute;
                width: 45px;
                height: 45px;
            }
        }
        &.placeholder {
            background: #12A286;
            .picture {
                opacity: 0.7;
            }
            .info {
                color: #fff;
                font-size: 1.2em;
                .placeholder-text {
                    font-size: 1em !important;
                    word-break: keep-all;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    max-width: 160px;
                }
            }
        }
    }
    > .autocomplete-wrapper {
        z-index: 900;
        position: absolute;
        left: 0;
        right: 0;
        top: 105%;
        box-shadow: 0px 0px 1px 1px #d4d3d3;
        display: block;
        padding: 0px 5px;
        padding-bottom: 10px;
        background-color: #fff;
        #search-input {
            border: none;
            outline: none;
            border: 1px solid #cacaca;
            // margin: 8px;
            padding: 5px;
            display: block;
            width: 100%;
        }
        > .lists {
            max-height: 350px;
            background-color: #fff;
            overflow-y: auto;
            overflow-x: hidden;
            > .item-container { 
                color: #929292;
                &:hover{
                    color: #555555;
                    cursor: pointer;
                }           
                > .picture {
                    position: relative;
                    height: 45px;
                    width: 45px;
                    overflow: hidden;
                    border-radius: 5px;
                    background-color: #dbdbdb;
                    > img {
                        position: absolute;
                        width: 45px;
                        height: 45px;
                    }
                }
            }
        }
    }
}
.notfound-item {
    text-align: center;
    background: #9e1818;
    color: white;
    padding: 10px;
    border-radius: 3px;
}
// .btn-danger {
//     background-color: #9e1818 !important;
//     border-color: #981616 !important;
// }