<div class="customer-container">
  <div [class.placeholder] = "value == null" class="d-flex align-items-center p-2 customer-wrapper" (click) = "open();$event.stopPropagation();">
    <ng-template [ngIf]="value == null" [ngIfElse]="elseBlock"> 
      <span class="picture">
        <img src="assets/images/avatar.png" alt="">
      </span>
      <div class="info pl-2">
        <div class="placeholder-text">{{ 'label.ALL.PleaseSelectAuto' | translate }}</div> 
      </div>
      <span style="flex: 1 1 auto;"></span>
      <button (click) = "add(); $event.stopPropagation()"class="ml-4 btn btn-success"><i class="fas fa-user-plus"></i></button>
    </ng-template>
    <ng-template #elseBlock>
      <span class="picture">
        <img [attr.src]="value.imagePath != null ? value.imagePath : 'assets/images/avatar.png'" alt="">
      </span>
      <div class="info pl-2">
        <div style="font-size: 1.1em;"><b>{{value.text}}</b></div> 
        <div style="font-size: 0.9em;">{{value.description}}</div>
      </div>
      <button (click) = "clear(); $event.stopPropagation()"class="ml-4 btn btn-danger"><i class="fas fa-times"></i></button>
    </ng-template>   
  </div>
  <div class="autocomplete-wrapper" *ngIf="focus">
    <input  class="mt-2" (keyup.enter) = "selected(filters[0]); $event.stopPropagation(); close($event);" [formControl] = "searchInput" type="text" id="search-input" (blur)="close($event)">
    <div class="lists">
      <a *ngFor="let item of items | async" class="d-flex align-items-center item-container p-2" (click) = "selected(item); $event.stopPropagation();">
        <span class="picture">
          <img [attr.src]="item.imagePath != null ? item.imagePath : 'assets/images/avatar.png'" alt="">
        </span>
        <div class="info pl-2">
          <div><b>{{item.text}}</b></div> 
          <div style="font-size: 0.9em;">{{item.description}}</div>
        </div>
      </a>
      <div class="notfound-item mt-2" *ngIf="(items | async)?.length == 0">
        <i class="fas fa-exclamation"></i> {{ 'label.ALL.DataNotFound' | translate }}
      </div>
    </div>
  </div>
</div>