<h4>{{ 'label.DBRT01.programName' | translate}}</h4>
<div class="row">
   <div class="col">
     <app-card>
        <div class="card-content">
            <div class="row">
                <div class="col-6">
                    <app-search [value]="keyword" (search)="enter($event)" placeholder="{{ 'label.DBRT01.searchPlaceholder' | translate}}"></app-search>
                </div>
                <div class="col-6 text-right">
                    <button class="btn btn-primary" (click)="add()"><i class="fas fa-plus-circle"></i>
                      {{ 'label.ALL.Add' | translate}}</button>
                 </div>
            </div>
            <br>
            <div class="row">
               <div class="col">
                  <app-table [rows]="country" [page]="page" (onTableEvent)="search()">
                      <ngx-datatable-column prop="codeLength,countryCode" width="100"  [cellClass]="'text-center'">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                          <label class="datatable-header-cell-wrapper" (click)="sort()">
                            {{ 'label.DBRT01.countryCode' | translate}}
                          </label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <a [routerLink]="['detail']" [state]="{code: row.countryCode}">{{row.countryCode}}</a>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column prop="countryCodeMua" width="100"  [cellClass]="'text-center'">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                          <label class="datatable-header-cell-wrapper" (click)="sort()">
                            {{ 'label.DBRT01.countryCodeMua' | translate}}
                          </label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.countryCodeMua}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column prop="countryNameTha" width="200">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                          <label class="datatable-header-cell-wrapper" (click)="sort()">
                            {{ 'label.DBRT01.countryNameTha' | translate}}
                          </label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                           {{row.countryNameTha}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column prop="countryNameEng" width="200">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                          <label class="datatable-header-cell-wrapper" (click)="sort()">
                            {{ 'label.DBRT01.countryNameEng' | translate}}
                          </label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                           {{row.countryNameEng}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column prop="countryShortNameTha" width="200">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                          <label class="datatable-header-cell-wrapper" (click)="sort()">
                            {{ 'label.DBRT01.countryShortNameTha' | translate}}
                          </label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                           {{row.countryShortNameTha}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column prop="countryShortNameEng" width="200">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                          <label class="datatable-header-cell-wrapper" (click)="sort()">
                            {{ 'label.DBRT01.countryShortNameEng' | translate}}
                          </label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                           {{row.countryShortNameEng}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column prop="active" width="100" [cellClass]="'text-center'">
                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                          <label class="datatable-header-cell-wrapper" (click)="sort()">
                            {{ 'label.DBRT01.active' | translate}}
                          </label>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <i *ngIf="row.active" class="fas fa-check"></i>
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column [cellClass]="'text-center'" [sortable]="false" width="100">
                        <ng-template ngx-datatable-header-template>
                          <label class="datatable-header-cell-wrapper">
                            {{ 'label.ALL.Delete' | translate}}
                          </label>
                        </ng-template>
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          <button (click)="remove(row.countryId,row.rowVersion)" class="btn btn-outline-danger btn-sm">
                            <i class="far fa-trash-alt"></i>
                          </button>
                        </ng-template>
                      </ngx-datatable-column>
                    </app-table>
               </div>
            </div>
        </div>
     </app-card>
   </div>
</div>
