<h4>{{ 'label.DBRT08.programName' | translate}}</h4>
<div class="row">
  <div class="col">
    <app-card header="{{ 'label.ALL.Search' | translate}}">
      <div class="card-content">
        <form [formGroup]="searchForm">
          <div class="col">
            <div class="form-row">
              <div class="form-group col-md-3 col-sm-6">
                <textbox formControlName="employeeCode">{{ 'label.DBRT08.employeeCode' | translate}}</textbox>
              </div>
              <div class="form-group col-md-3 col-sm-6">
                <textbox formControlName="teacherCode">{{ 'label.DBRT08.teacherCode' | translate}}</textbox>
              </div>
              <div class="form-group col-md-3 col-sm-6">
                <textbox formControlName="employeeName">{{ 'label.DBRT08.employeeName' | translate}}</textbox>
              </div>
              <div class="form-group col-md-3 col-sm-6">
                <select-input [items]="master.divlist" formControlName="divCode" placeholder="{{ 'label.ALL.All' | translate}}" >{{ 'label.DBRT08.divCode' | translate}}</select-input>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3 col-sm-6">
                <select-input [items]="master.groupTypeCode" formControlName="groupTypeCode" placeholder="{{ 'label.ALL.All' | translate}}">{{ 'label.DBRT08.groupTypeCode' | translate}}</select-input>
              </div>
              <div class="form-group col-md-3 col-sm-6">
                <select-input [items]="master.statusWork" formControlName="turnoverDate" placeholder="{{ 'label.ALL.All' | translate}}" >{{ 'label.DBRT08.statusEmployee' | translate}}</select-input>
              </div>
            </div>
            <br />
            <div class="form-row">
              <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary" (click)="search(true)"><i class="fas fa-search"></i>
                  {{ 'label.ALL.Search' | translate}}</button>
                <button type="button" (click)="clear()" class="btn btn-outline-dark-primary"><i
                    class="fas fa-eraser"></i>{{ 'label.ALL.Clear' | translate}}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-card header="{{ 'label.DBRT08.detail' | translate}}">
      <div class="card-content">
        <div class="row">
          <div class="col-12 text-right">
            <button class="btn btn-primary" (click)="print()">
              <i class="fas fa-cog fa-spin" [hidden]="!printing"></i>
              <i class="fas fa-print" [hidden]="printing"></i>
              {{ 'label.ALL.ExportExcelFile' | translate}}
            </button>
            <button class="btn btn-primary" (click)="add()"><i class="fas fa-plus-circle"></i>
              {{ 'label.ALL.Add' | translate}}</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <app-table [rows]="employees" [page]="page" (onTableEvent)="search(false)">
              <ngx-datatable-column prop="codeLength,employeeCode" width="100" [cellClass]="'text-center'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT08.employeeCode' | translate}}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a [routerLink]="['detail']" [state]="{code: row.employeeCode}">{{row.employeeCode}}</a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="teacherCode" width="100" [cellClass]="'text-center'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT08.teacherCode' | translate}}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.teacherCode}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="employeeName" width="300">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT08.employeeName' | translate}}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.employeeName}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="divName" width="200">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT08.divCode' | translate}}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.divName}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="groupTypeCode" width="200">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT08.groupTypeCode' | translate}}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.groupTypeCode}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="turnoverDate" width="200" [cellClass]="'text-center'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DBRT08.statusEmployee' | translate}}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.turnoverDate | thaidate}}
                </ng-template>
              </ngx-datatable-column>
            </app-table>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>