<toolbar>
  <button class="btn btn-primary" (click)="save()" [disabled]="saving">
    <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
    <i class="fas fa-save" [hidden]="saving"></i>{{ 'label.ALL.Save' | translate}}</button>
</toolbar>
<h4>{{ 'label.DBRT08.topic' | translate}}</h4>
<div class="row">
  <div class="col">
    <app-card header="{{ 'label.DBRT08.detail' | translate}}">
      <div class="card-content">
        <form [formGroup]="EmployeeForm">
          <div class="form-row">
            <div class="form-group col-md-10 col-sm-6">
                <div class="form-row">
                  <div class="form-group col-md-4 col-sm-6">
                    <textbox class="text-center" formControlName="employeeCode">
                      {{ 'label.DBRT08.employeeCode' | translate}}</textbox>
                  </div>
                  <div class="form-group col-md-4 col-sm-6">
                    <textbox class="text-center" formControlName="teacherCode">
                      {{ 'label.DBRT08.teacherCode' | translate}}</textbox>
                  </div>
                  <div class="form-group col-md-4 col-sm-6">
                    <select-input [items]="master.preNames" formControlName="preNameId">
                      {{ 'label.DBRT08.preName' | translate}}</select-input>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4 col-sm-6">
                    <textbox formControlName="tFirstName">{{ 'label.DBRT08.tFirstName' | translate}}</textbox>
                  </div>
                  <div class="form-group col-md-4 col-sm-6">
                    <textbox formControlName="tMiddleName">{{ 'label.DBRT08.tMiddleName' | translate}}</textbox>
                  </div>
                  <div class="form-group col-md-4 col-sm-6">
                    <textbox formControlName="tLastName">{{ 'label.DBRT08.tLastName' | translate}}</textbox>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4 col-sm-6">
                    <textbox formControlName="eFirstName">{{ 'label.DBRT08.eFirstName' | translate}}</textbox>
                  </div>
                  <div class="form-group col-md-4 col-sm-6">
                    <textbox formControlName="eMiddleName">{{ 'label.DBRT08.eMiddleName' | translate}}</textbox>
                  </div>
                  <div class="form-group col-md-4 col-sm-6">
                    <textbox formControlName="eLastName">{{ 'label.DBRT08.eLastName' | translate}}</textbox>
                  </div>
              </div>

            </div>
            <div class="form-group col-md-2 col-sm-6">
              <div class="col">
                <div class="form-row">
                  <div class="form-group col-md-12 col-sm-6">
                    <image *ngIf="employee.erpPicture == null" formControlName="imageId" category="DB/Image/Employee"></image>
                    <img *ngIf="employee.erpPicture != null" src="data:image/jpeg;base64,{{employee.erpPicture}}" class="img-fluid img-thumbnail"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <br />
        <form [formGroup]="EmployeeForm">
          <div class="form-row">
            <div class="form-group col-md-12 col-sm-12">
              <b>{{ 'label.DBRT08.profile' | translate}}</b>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3 col-sm-6">
              <textbox formControlName="personalId">{{ 'label.DBRT08.personal' | translate}}
                <div class="invalid-pattern">
                  {{ 'label.DBRT08.formatPersonalId' | translate}}
                </div>
              </textbox>
            </div>
            <div class="form-group col-md-3 col-sm-6">
              <datepicker formControlName="birthday">{{ 'label.DBRT08.birthday' | translate}}</datepicker>
            </div>
            <div class="form-group col-md-3 col-sm-6">
              <textbox [value]="ageDesc" [disabled]="true">{{ 'label.DBRT08.age' | translate}}</textbox>
            </div>
            <div class="form-group col-md-3 col-sm-6">
              <select-input [items]="master.genders" formControlName="gender">{{ 'label.DBRT08.gender' | translate}}
              </select-input>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3 col-sm-6">
              <select-input [items]="master.races" formControlName="raceCode">{{ 'label.DBRT08.raceCode' | translate}}
              </select-input>
            </div>
            <div class="form-group col-md-3 col-sm-6">
              <select-input [items]="master.nationalitys" formControlName="nationCode">
                {{ 'label.DBRT08.nationCode' | translate}}
              </select-input>
            </div>
            <div class="form-group col-md-3 col-sm-6">
              <select-input [items]="master.religions" formControlName="religionCode">
                {{ 'label.DBRT08.religionCode' | translate}}
              </select-input>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
              <areabox formControlName="addrName">{{ 'label.DBRT08.addrName' | translate}}
              </areabox>
            </div>
            <div class="form-group col-md-3 col-sm-6">
              <textbox formControlName="moo">{{ 'label.DBRT08.moo' | translate}}
              </textbox>
            </div>
            <div class="form-group col-md-3 col-sm-6">
              <textbox formControlName="soi">{{ 'label.DBRT08.soi' | translate}}
              </textbox>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3 col-sm-6">
              <textbox formControlName="street">{{ 'label.DBRT08.street' | translate}}
              </textbox>
            </div>
            <div class="form-group col-md-3 col-sm-6">
              <select-input [items]="master.addressProvinces" formControlName="provinceId"
                (returnValue)="changeProvinceAddress($event)">{{ 'label.DBRT08.province' | translate}}
              </select-input>
            </div>
            <div class="form-group col-md-3 col-sm-6">
              <select-input [items]="master.addressDistricts" formControlName="districtId"
                (returnValue)="changeDistrictAddress($event)">{{ 'label.DBRT08.district' | translate}}
              </select-input>
            </div>
            <div class="form-group col-md-3 col-sm-6">
              <select-input [items]="master.addressSubDistricts" formControlName="subDistrictId"
                (returnValue)="changeSubDistrictAddress($event)">{{ 'label.DBRT08.subDistrict' | translate}}
              </select-input>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3 col-sm-6">
              <select-input [items]="master.addressPostalCodes" formControlName="postalCode">
                {{ 'label.DBRT08.postalCode' | translate}}
              </select-input>
            </div>
            <div class="form-group col-md-3 col-sm-6">
              <textbox formControlName="telNo">{{ 'label.DBRT08.telNo' | translate}}
                <div class="invalid-pattern">
                  {{ 'label.DBRT08.invalidPattern' | translate}}
                </div>
              </textbox>
            </div>
            <div class="form-group col-md-6 col-sm-6">
              <textbox formControlName="email">{{ 'label.DBRT08.email' | translate}}
              </textbox>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
              <textbox formControlName="emailSecon">{{ 'label.DBRT08.secondaryEmail' | translate}}
              </textbox>
            </div>
          </div>
        </form>
        <br />
        <form [formGroup]="EmployeeForm">
          <div class="form-row">
            <div class="form-group col-md-12 col-sm-12">
              <b>{{ 'label.DBRT08.workInfo' | translate}}</b>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3 col-sm-6">
              <datepicker formControlName="workDate">{{ 'label.DBRT08.workDate' | translate}}
              </datepicker>
            </div>
            <div class="form-group col-md-3 col-sm-6">
              <datepicker formControlName="turnoverDate">{{ 'label.DBRT08.turnoverDate' | translate}}
              </datepicker>
            </div>
            <div class="form-group col-md-3 col-sm-6">
              <select-input [items]="master.positionLevels" formControlName="positionLevelCode">
                {{ 'label.DBRT08.positionLevelCode' | translate}}
              </select-input>
            </div>
            <div class="form-group col-md-3 col-sm-6">
              <select-input [items]="master.positionlist" formControlName="positionCode">
                {{ 'label.DBRT08.positionCode' | translate}}
              </select-input>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
              <select-input [items]="master.employeeTypes" formControlName="empTypeCode">
                {{ 'label.DBRT08.empTypeCode' | translate}}
              </select-input>
            </div>
            <div class="form-group col-md-6 col-sm-6">
              <select-input [items]="master.divlists" formControlName="divCode">{{ 'label.DBRT08.divCode' | translate}}
              </select-input>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
              <select-input [items]="master.positionDivisions" formControlName="positionDivision">
                {{ 'label.DBRT08.positionDivision' | translate}}
              </select-input>
            </div>
            <div class="form-group col-md-6 col-sm-6">
              <select-input [items]="master.jobTypes" formControlName="jobType">{{ 'label.DBRT08.jobType' | translate}}
              </select-input>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
              <select-input [items]="master.divWork" formControlName="divWorkId">{{ 'label.DBRT08.divWork' | translate}}
              </select-input>
            </div>
            <div class="form-group col-md-6 col-sm-6">
              <select-input [items]="master.groupTypeCode" formControlName="groupTypeCode">
                {{ 'label.DBRT08.groupTypeCode' | translate}}
              </select-input>
            </div>
          </div>
        </form>
      </div>
    </app-card>
  </div>
</div>