<h4>{{ 'label.DBRT15.programName' | translate}}</h4>

<div class="row">
    <div class="col">
        <app-card>
            <div class="card-content">
                <div class="row">
                    <div class="col-6">
                        <app-search [value]="keyword" (search)="enter($event)" placeholder="{{ 'label.DBRT15.searchPlaceholder' | translate}}"></app-search>
                    </div>
                    <div class="col-6 text-right">
                        <button class="btn btn-primary" (click)="add()"><i class="fas fa-plus-circle"></i>
                            {{ 'label.ALL.Add' | translate}}</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <app-table [rows]="subdegree" [page]="page" (onTableEvent)="search()">
                            <ngx-datatable-column prop="subDegreeNameTha" width="250" [cellClass]="'text-center'">
                                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                    <label class="datatable-header-cell-wrapper" (click)="sort()">
                                        {{ 'label.DBRT15.subDegreeNameTha' | translate}}
                                    </label>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <a [routerLink]="['detail']" [state]="{code: row.subDegreeId}">{{row.subDegreeNameTha}}</a>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="subDegreeNameEng" width="250">
                                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                    <label class="datatable-header-cell-wrapper"
                                        (click)="sort()">
                                        {{ 'label.DBRT15.subDegreeNameEng' | translate}}</label>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.subDegreeNameEng}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="subDegreeShortNameTha" width="150">
                                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                    <label class="datatable-header-cell-wrapper" (click)="sort()">
                                        {{ 'label.DBRT15.subDegreeShortNameTha' | translate}}
                                    </label>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.subDegreeShortNameTha}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="subDegreeShortNameEng" width="150">
                                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                    <label class="datatable-header-cell-wrapper"
                                        (click)="sort()">
                                        {{ 'label.DBRT15.subDegreeShortNameEng' | translate}}</label>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.subDegreeShortNameEng}}
                                </ng-template>
                            </ngx-datatable-column>
                            
                            <ngx-datatable-column prop="active" width="50" [cellClass]="'text-center'">
                                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                    <label class="datatable-header-cell-wrapper" (click)="sort()">
                                        {{ 'label.DBRT15.active' | translate}}
                                    </label>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <i *ngIf="row.active" class="fas fa-check"></i>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [cellClass]="'text-center'" [sortable]="false" width="50">
                                <ng-template ngx-datatable-header-template>
                                    <label class="datatable-header-cell-wrapper">
                                        {{ 'label.ALL.Delete' | translate}}
                                    </label>
                                </ng-template>
                                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    <button (click)="remove(row.subDegreeId,row.rowVersion)" class="btn btn-outline-danger btn-sm">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </ng-template>
                            </ngx-datatable-column>
                        </app-table>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>