<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <app-card header="เงื่อนไข">
                <div class="card-menu">
                </div>
                <div class="card-content">
                    <form #searchScore [formGroup]="searchForm">
                        <div class="form-row">
                            <div class="form-group col-md-6 col-sm-6">
                                <select-input [items]="studentCode" placeholder="ทั้งหมด" formControlName="studentCodeFrom">
                                    รหัสนักศึกษา ตั้งแต่
                                </select-input>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <select-input [items]="studentCode" placeholder="ทั้งหมด" formControlName="studentCodeTo">
                                    ถึง
                                </select-input>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md- col-sm-6">
                                <radio [items]="radioItems" [inline]="true" formControlName="Radio">ประเภทไฟล์</radio>
                            </div>
                        </div>
                        <div class="form-row justify-content-center mt-2">
                            <div class="col-auto">
                                <!-- <button type="submit" class="btn btn-primary"
                                    (click)=" util.focusInvalid(searchScore); search(true)"><i
                                        class="fas fa-search"></i>ค้นหา</button> -->
                                <!-- <button type="button" (click)="clear()" class="btn btn-outline-dark-primary"><i
                        class="fas fa-eraser"></i>{{ 'label.ENDT02.ClearData' | translate }}</button> -->
                            </div>
                        </div>
                        <div class="form-row justify-content-center mt-2">
                            <div class="col-auto">
                                <button type="button" (click)="print()" class="btn btn-primary">
                                    <i class="fas fa-cog fa-spin" [hidden]="!printing"></i>
                                    <i class="fas fa-search" [hidden]="printing"></i>
                                    แสดงรายงาน
                                </button>
                                <button type="button" class="btn btn-outline-dark-primary"><i class="fas fa-eraser" (click)="clear()"></i>
                                    ล้างข้อมูล</button>
                            </div>
                        </div>
                    </form>
                </div>
            </app-card>
        </div>
    </div>

    <div *ngIf="disable" class="row">
        <div class="col">
            <app-card header="รายงาน">
                <div class="card-content">
                    <ngx-extended-pdf-viewer [base64Src]="srcResult" [useBrowserLocale]="true" height="80vh"
                        [hidden]="!srcResult" [showBookmarkButton]="false" [showOpenFileButton]="false">
                    </ngx-extended-pdf-viewer>
                </div>
            </app-card>
        </div>
    </div>

</div>