<div class="d-flex align-items-center customer-container p-2">
    <span class="picture">
        <img [attr.src]="!!target.target.imagePath ? target.target.imagePath : 'assets/images/avatar.png'" alt="">
    </span>
    <div class="info pl-2">
        <div><b>{{target.target.text}}</b></div> 
        <div style="font-size: 0.9em;">{{target.target.description}}</div>
    </div>
</div>