:host {
    display: block;
    .customer-container {
        // border-bottom: 1px solid #cacaca;
        background-color: #ffffff;
        border-radius: 5px;
        > .picture {
            position: relative;
            height: 45px;
            width: 45px;
            overflow: hidden;
            border-radius: 5px;
            background-color: #dbdbdb;
            > img {
                position: absolute;
                width: 45px;
                height: 45px;
            }
        }
    }
}