<h4>ส่ง email เริ่มต้นใช้งาน</h4>
<div class="row">
  <div class="col">
    <app-card header="{{ 'label.ALL.Process' | translate }}">
      <div class="card-content">
        <div class="row">
          <div class="col text-center">
            <div *ngIf="progress != null">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  [ngStyle]="{'width': progress.percent+'%'}" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                  {{ progress.percent +'%'}}
                </div>
              </div>
              <div>
                <p [class.text-danger]="progress.haveLog == true" [class.text-info]="progress.haveLog == false">
                  {{ progress.message }}</p>
              </div>
            </div>
            <div *ngIf="disabled && progress == null">
              <p>กำลังประมวลผลข้อมูลรายการอื่น..โปรดรอ</p>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col text-center">
            <button type="button" [disabled]="disabled || progress != null" class="btn btn-primary"
              (click)="migrate()">{{ 'label.ALL.Process' | translate}}</button>
            <button type="button" class="btn btn-primary" (click)="stop()">{{
              'label.ALL.Cancel' | translate}}</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ul *ngIf="errorMessage.length">
              <li *ngFor="let error of errorMessage">
                <small class="text-danger"> {{ error }}</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>