<h4>{{ 'label.SURT04.ProgramName' | translate }}</h4>
<div class="row">
  <div class="col">
    <app-card>
      <div class="card-content">
        <div class="row">
          <div class="col-6">
            <app-search [value]="keyword" (search)="enter($event)"
              placeholder="{{ 'label.SURT04.SearchPlaceholder' | translate }}">
            </app-search>
          </div>
          <div class="col-6 text-right">
            <button class="btn btn-primary" (click)="add()"><i class="fas fa-plus-circle"></i>
              {{ 'label.ALL.Add' | translate }}</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <app-table [rows]="profiles" [page]="page" (onTableEvent)="search()">
              <ngx-datatable-column prop="profileCode" width="125" [cellClass]="'text-center'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper"
                    (click)="sort()">{{ 'label.SURT04.ProfileCode' | translate }}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a [routerLink]="['detail']" [state]="{code: row.profileCode}">{{ row.profileCode }}</a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="profileDesc" width="200">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper"
                    (click)="sort()">{{ 'label.SURT04.ProfileDesc' | translate }}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.profileDesc }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="active" width="50" [cellClass]="'text-center'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper"
                    (click)="sort()">{{ 'label.SURT04.Active' | translate }}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <i *ngIf="row.active" class="fas fa-check"></i>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [cellClass]="'text-center'" [sortable]="false" width="50">
                <ng-template ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper">{{ 'label.ALL.Copy' | translate }}</label>
                </ng-template>
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <button (click)="openModal(row, copyModal)" class="btn btn-outline-primary btn-sm">
                    <i class="fas fa-copy"></i>
                  </button>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [cellClass]="'text-center'" [sortable]="false" width="50">
                <ng-template ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper">{{ 'label.ALL.Delete' | translate }}</label>
                </ng-template>
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <button (click)="remove(row.profileCode, row.rowVersion)" class="btn btn-outline-danger btn-sm">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </app-table>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>

<ng-template #copyModal>
  <app-modal (onClose)="closeModal()" header="{{ 'label.SURT04.Copy' | translate }}">
    <app-card header="{{ 'label.SURT04.CopyFrom' | translate }}">
      <div class="card-content">
        <form [formGroup]="copyForm">
          <div class="form-row">
            <div class="form-group col-4">
              <textbox formControlName="profileCodeFrom" class="text-center">{{ 'label.SURT04.ProfileCode' | translate }}</textbox>
            </div>
            <div class="form-group col-8">
              <textbox formControlName="profileDescFrom">{{ 'label.SURT04.ProfileDesc' | translate }}</textbox>
            </div>
          </div>
        </form>
      </div>
    </app-card>
    <app-card header="{{ 'label.SURT04.CopyTo' | translate }}">
      <div class="card-content">
        <form [formGroup]="copyForm" (ngSubmit)="copy()">
          <div class="form-row">
            <div class="form-group col-4">
              <textbox formControlName="profileCodeTo" class="text-center">{{ 'label.SURT04.ProfileCode' | translate }}
                <div class="invalid-pattern">
                  {{ 'message.STD00037' | translate }}
                </div>
              </textbox>
            </div>
            <div class="form-group col-8">
              <textbox formControlName="profileDescTo">{{ 'label.SURT04.ProfileDesc' | translate }}
              </textbox>
            </div>
          </div>
          <div class="form-row justify-content-center mt-2">
            <div class="col-auto">
              <button type="submit" [disabled]="saving" class="btn btn-primary">
                <i class="fas fa-sync-alt" [class.fa-spin]="saving"></i> {{ 'label.ALL.Process' | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </app-card>
  </app-modal>
</ng-template>