<div [class.active] = "current == item.type"  class="catgegory-item" *ngFor="let item of categories" (click) = "selected(item.type);">
    {{ item.name | translate }}
</div>
<span class="flex-grow-1"></span>
<div class="catgegory-item template-btn" [routerLink] = "['/fn/fndt02/template']">
    <i class="fas fa-edit"></i>  {{ 'label.FNDT02.ManageTemplate' | translate }}
</div>