@import "src/theme/theme-variables";
:host {
    display: flex;
    > .catgegory-item {
        display: inline-block;
        padding: 10px 20px;
        background-color: #ffffff;
        border-radius: 5px;
        margin-right: 10px;
        cursor: pointer;
        &:last-child {
            margin-right: 0px;
        }
        &.active {
            background-color: $main;
            color: $gray-100;
        }
        &.template-btn {
            background-color: $primary;
            color: $gray-100;
        }
    }
}