<div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate: 'monthViewDayNumber' }}</span>
</div>
<div class="cal-events" *ngIf="day.events.length > 0">
    <div class="cal-event" *ngFor="let event of objectives" [ngStyle]="{ backgroundColor: event.color }">
    </div>
</div>