<div class="cal-open-day-events" [@collapse] *ngIf="isOpen">
    <div *ngFor="let event of events">
        <span class="cal-event" [ngStyle]="{ backgroundColor: event.color.primary }">
        </span>
        &ngsp;
        <calendar-reserve-title [calendarView]="calendarView" [event]="event" view="month"
            (mwlClick)="eventClicked.emit({ event: event })" [titleColor]="'#000'">
        </calendar-reserve-title>
    </div>
</div>