<toolbar>
  <button class="btn btn-primary" (click)="save()" [disabled]="saving">
    <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
    <i class="fas fa-save" [hidden]="saving"></i> {{ 'label.ALL.Save' | translate}}</button>
</toolbar>
<h4>{{ 'label.DBRT03.programName' | translate}}</h4>
<div class="row">
  <div class="col">
    <app-card header="{{ 'label.DBRT03.detail' | translate}}">
      <div class="card-content">
        <div class="col">
          <div class="col">
            <form [formGroup]="dbrt03Form">
              <div class="form-row">
                <div class="form-group col-md-3 col-sm-6">
                  <textbox formControlName="provinceCode" class="text-center">
                    {{ 'label.DBRT03.provinceCode' | translate}}
                  </textbox>
                </div>
                <div class="form-group col-md-3 col-sm-6">
                  <textbox formControlName="provinceCodeMua" class="text-center">
                    {{ 'label.DBRT03.provinceCodeMua' | translate}}
                  </textbox>
                </div>
                <div class="form-group col-md-3 col-sm-6">
                  <select-input [items]="master.country" placeholder="{{ 'label.ALL.PleaseSelect' | translate}}" 
                  formControlName="countryId"  (returnValue)="changeCountryAddress($event)">
                    {{ 'label.DBRT03.country' | translate}}
                  </select-input>
                </div>
                <div class="form-group col-md-3 col-sm-6">
                  <select-input [items]="master.region" placeholder="{{ 'label.ALL.PleaseSelect' | translate}}" 
                  formControlName="regionId">
                  {{ 'label.DBRT03.region' | translate}}
                  </select-input>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="provinceNameTha">
                    {{ 'label.DBRT03.provinceNameTha' | translate}}
                  </textbox>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="provinceNameEng">
                    {{ 'label.DBRT03.provinceNameEng' | translate}}
                  </textbox>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="provinceShortNameTha">
                    {{ 'label.DBRT03.provinceShortNameTha' | translate}}
                  </textbox>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <textbox formControlName="provinceShortNameEng">
                    {{ 'label.DBRT03.provinceShortNameEng' | translate}}
                  </textbox>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  <checkbox formControlName="active">{{ 'label.DBRT03.active' | translate}}</checkbox>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>