@import "src/theme/theme-variables";
:host {
    display: block;
    // height: 100%;
    // max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    .bill-items {
        cursor: pointer;
        background-color: #ffffff;
        border-radius: 5px;
        .line-wrapper {
            overflow: hidden;
            .bill-no {
                float: left;
                color: $green;
            }
            .bill-name {
                float: left;
            }
            .bill-amt {
                float: right;
            }
        }

    }
}
.notfound-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #5d5379;
    border-radius: 50%;
    width: 260px;
    height: 260px;
}