<ng-template [ngIf]="!!items && items.length > 0" [ngIfElse]="elseBlock"> 
    <ng-template [ngIf] = "type == 'BILL'" [ngIfElse]="typeElseBlock" >
        <div class="bill-items p-3 mb-2" *ngFor="let item of items" (click) = "selectedBill(item, item.billNo);">
            <div class="d-flex align-items-center">
                <div class="flex-grow-1" *ngIf="item.documentType == 'B'">
                    <div class="line-wrapper">
                        <h4 class="bill-no p-0 m-0" >{{item.billNo}}</h4> 
                        <span class="bill-name ml-2">( {{item.billName}} )</span>
                    </div>
                    <div class="line-wrapper">
                        <span class="bill-name" style="color: #a2a2a2;">{{ 'label.FNDT02.ReceiveDate' | translate }} {{item.billDate | thaidate }} <ng-container *ngIf="!!item.dueDate">{{ 'label.FNDT02.DueDate' | translate }} {{ item.dueDate | thaidate }}</ng-container></span>
                    </div>
                </div>
                <div class="flex-grow-1" *ngIf="item.documentType == 'T'">
                    <div class="line-wrapper">
                        <h4 class="bill-no p-0 m-0" >{{item.billName}}</h4> 
                    </div>
                </div>
                <div>
                    <div class="line-wrapper">
                        <span class="d-flex align-items-center justify-content-end"><h2 class="p-0 m-0 mr-2 color-success">{{ item.netAmt | number:'0.2-2' }}</h2> บาท</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #typeElseBlock>
        <div class="bill-items p-3 mb-2" *ngFor="let item of items" (click) = "selectedItem(item);">
            <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                    <div class="line-wrapper">
                        <h4 class="bill-no p-0 m-0">{{item.itmCode}} : {{item.itmName}}</h4> 
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</ng-template>
<ng-template #elseBlock>
    <div class="d-flex justify-content-center align-items-center flex-column" style="height: 100%;">
        <div class="notfound-item">
            <i class="fas fa-stream fa-7x mb-2" style="color: #b193bb;"></i>
            <h3 style="color: #b193bb;" class="p-0 m-0 mb-3">
                {{ 'label.ALL.DataNotFound' | translate }}
            </h3>
        </div>

    </div>
</ng-template>  
